{%- assign fixed_aspect_ratio = false -%}
{% unless image_size == 'natural' %}
  {%- assign fixed_aspect_ratio = true -%}
{% endunless %}

<div class="grid__item {{ grid_item_width }}" data-aos="row-of-{{ per_row }}">
  <div class="grid blog__news-box">    
    <div class="article__grid-meta">
      {%- if section.settings.blog_show_date or article.tags.size > 0 or articles.comments_count > 0 -%}
        <div class="article__date">
          {%- if section.settings.blog_show_tags and article.tags.size > 0 -%}
            {%- for tag in article.tags -%}
              {% if tag contains "_" %}{%- assign tag_starts_with = tag | slice: 0 -%}{% if tag_starts_with == "_" %}{% if tag_count %}{%- assign tag_count = tag_count | minus: 1 | at_least: 0 -%}{% endif %}{% continue %}{% endif %}{% endif %}
              <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a> &middot;
            {%- endfor -%}
          {%- endif -%}
          {%- if section.settings.blog_show_comments and article.comments_count > 0 -%}
            <a href="{{ article.url }}#comments">
              {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
            </a> &middot;
          {%- endif -%}
          {%- if section.settings.blog_show_date -%}
            {{ article.published_at | time_tag: format: 'month_day_year' }}
          {%- endif -%}
        </div>
      {%- endif -%}

      {%- if article.image -%}
      <div class="blog__news-image">
        <img src="{{ article.image | img_url: '400x' }}" alt="{{ article.title | escape }}">
      </div>
      {%- endif -%}

      <h4>{{ article.title }}</h4>

      {%- if section.settings.blog_show_author -%}
        <div class="article__author">by {{ article.author }}</div>
      {%- endif -%}

      {%- if section.settings.blog_show_excerpt -%}
        <div class="rte article__excerpt">
          {%- if article.excerpt.size > 0 -%}
            {{ article.excerpt }}
          {%- else -%}
            {{ article.content | strip_html | truncatewords: 40 }}
          {%- endif -%}
        </div>
      {%- endif -%}

    </div>
    <div class="blog__news-footer rte">
      <a href="{{ article.metafields.news.link }}" target="_blank" class="article__title">Learn more</a>
    </div>
  </div>
</div>
