{%- assign header_font = settings.type_header_font_family -%}
{%- assign producttitle_font = settings.type_producttitle_font_family -%}
{%- assign base_font = settings.type_base_font_family -%}
{%- assign base_font_bold = base_font | font_modify: 'weight', '600' -%}
{%- assign base_font_italic = base_font | font_modify: 'style', 'italic' -%}
{%- assign base_font_bold_italic = base_font_bold | font_modify: 'style', 'italic' -%}
{%- assign button_font = settings.type_button_font_family -%}

{%- style -%}
  {{ header_font | font_face: font_display: 'swap' }}
  {{ producttitle_font | font_face: font_display: 'swap' }}
  {{ base_font | font_face: font_display: 'swap' }}
  {{ button_font | font_face: font_display: 'swap' }}

  {{ base_font_bold | font_face: font_display: 'swap' }}
  {{ base_font_italic | font_face: font_display: 'swap' }}
  {{ base_font_bold_italic | font_face: font_display: 'swap' }}
{%- endstyle -%}
