{%- liquid
  assign blockId = block.id
-%}

<div class="index-section">
  <div class="page-width">

    <div class="grid">
      <div class="grid__item{% if block.settings.narrow_column %} medium-up--three-quarters medium-up--push-one-eighth{% endif %}">
        <div class="form-vertical">
          {%- assign form_id = 'contact-' | append: blockId -%}
          <form action='https://crm.zoho.com/crm/WebToLeadForm' id="{{form_id}}" method='POST'>
            <input type='text' style='display:none;' name='xnQsjsdp' value='f189a438eaa1f39bf771183446f58fe92f03bd62bb39ad6181658a00e4c9facd'></input> 
            <input type='hidden' name='zc_gad' id='zc_gad' value=''></input> 
            <input type='text' style='display:none;' name='xmIwtLD' value='38d7a7834cf51d05aa8f7901f7538cfaf5b7023c3f7a31f8ef985e40599551e1'></input> 
            <input type='text'  style='display:none;' name='actionType' value='TGVhZHM='></input>
            <input type='text' style='display:none;' name='returnURL' value='{{shop.url}}/pages/thank-you' />
            <input type="hidden" id='LEADCF183' name='LEADCF183' value="Affiliate Enquiry" />
            <input type="hidden" id='Lead_Source' name='Lead Source' value="Website Form" />

            {%- if form.posted_successfully? -%}
              <p class="note note--success">
                {{ 'contact.form.post_success' | t }}
              </p>
            {%- endif -%}

            {{ form.errors | default_errors }}

            <div class="grid grid--small">
              <div class="grid__item medium-up--one-third">
                <label for="Last_Name">{{ 'contact.form.name' | t }}*</label>
                <input type="text" required id='Last_Name' name='Last Name' class="input-full" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
              </div>

              <div class="grid__item medium-up--one-third">
                <label for="Phone">{{ 'contact.form.phone' | t }}*</label>
                <input type="tel" required id='Phone' name='Phone' class="input-full" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
              </div>

              <div class="grid__item medium-up--one-third">
                <label for="Email">{{ 'contact.form.email' | t }}*</label>
                <input type="email" required id='Email' name='Email' class="input-full" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
              </div>

              <div class="grid__item medium-up--one-third">
                <label for="Country">Country</label>
                <select id='Country' name='Country' data-default="{{form.country}}">{{ country_option_tags }}</select>
              </div>

              <div class="grid__item medium-up--one-third">
                <label for="City">City</label>
                <input type="text" id='City' name='City' class="input-full" autocorrect="off" autocapitalize="off" value="{% if form.city %}{{ form.city }}{% elsif customer %}{{ customer.city }}{% endif %}">
              </div>

              <div class="grid__item medium-up--one-third">
                <label for="Website">Website</label>
                <input type="text" id='Website' name='Website' class="input-full" autocorrect="off" autocapitalize="off" value="{% if form.website %}{{ form.website }}{% elsif customer %}{{ customer.website }}{% endif %}">
              </div>

              <div class="grid__item medium-up--two-thirds">
                <label for="Description">Nature of Business</label>
                <textarea rows="2" id='Description' name='Description' class="input-full">{% if form.body %}{{ form.body }}{% endif %}</textarea>
              </div>
            </div>

            <div class="disclaimer">
              {{ block.settings.disclaimer }}
            </div>

            <div class="checkbox">
              <input type="checkbox" id="ContactFormACCEPT-{{ blockId }}" value="acknowledge" required />
              <label for="ContactFormACCEPT-{{ blockId }}">I accept the above terms and conditions.</label>
            </div>
           
            <div class="page__form-footer">
              <button type="submit" class="btn">
                SUBMIT
              </button>
            </div>
            <script id='wf_anal' src='https://crm.zohopublic.com/crm/WebFormAnalyticsServeServlet?rid=38d7a7834cf51d05aa8f7901f7538cfaf5b7023c3f7a31f8ef985e40599551e1gidf189a438eaa1f39bf771183446f58fe92f03bd62bb39ad6181658a00e4c9facdgid885e3c1045bd9bdcc91bdf30f82b5696gid14f4ec16431e0686150daa43f3210513'></script>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
