{%- liquid
  assign blockId = block.id
-%}

<div class="index-section">
  <div class="page-width">

    <div class="grid">
      <div class="grid__item{% if block.settings.narrow_column %} medium-up--three-quarters medium-up--push-one-eighth{% endif %}">
        <div class="form-vertical">
          {%- assign form_id = 'contact-' | append: blockId -%}
          <form action='https://crm.zoho.com/crm/WebToLeadForm' id="{{form_id}}" method='POST'>
            <input type='text' style='display:none;' name='xnQsjsdp' value='f189a438eaa1f39bf771183446f58fe92f03bd62bb39ad6181658a00e4c9facd'></input> 
            <input type='hidden' name='zc_gad' id='zc_gad' value=''></input> 
            <input type='text' style='display:none;' name='xmIwtLD' value='38d7a7834cf51d05aa8f7901f7538cfa713bc5a355d3a5733b8a3fca6de2d498'></input> 
            <input type='text'  style='display:none;' name='actionType' value='TGVhZHM='></input>
            <input type='text' style='display:none;' name='returnURL' value='{{shop.url}}/pages/customize-mask?thank=yes' />
            <input type="hidden" id='LEADCF183' name='LEADCF183' value="Corporate Enquiry" />
            <input type="hidden" id='Lead_Source' name='Lead Source' value="Website Form" />

            {%- if form.posted_successfully? -%}
              <p class="note note--success">
                {{ 'contact.form.post_success' | t }}
              </p>
            {%- endif -%}
            
            {{ form.errors | default_errors }}

            <div class="grid grid--small">
              <div class="grid__item medium-up--one-third">
                <label for="Last_Name">{{ 'contact.form.name' | t }}*</label>
                <input type="text" required id='Last_Name' name='Last Name' class="input-full" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
              </div>

              <div class="grid__item medium-up--one-third">
                <label for="Phone">{{ 'contact.form.phone' | t }}*</label>
                <input type="tel" required id='Phone' name='Phone' class="input-full" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
              </div>

              <div class="grid__item medium-up--one-third">
                <label for="Email">{{ 'contact.form.email' | t }}*</label>
                <input type="email" required id='Email' name='Email' class="input-full" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
              </div>

              <div class="grid__item medium-up--one-third">
                <label for="Company">Company Name*</label>
                <input type="text" required id='Company' name='Company' class="input-full" autocorrect="off" autocapitalize="off" value="{% if form.company %}{{ form.company }}{% elsif customer %}{{ customer.company }}{% endif %}">
              </div>

              <div class="grid__item medium-up--one-third">
                <label for="LEADCF182">Corporate Address</label>
                <input type="text" id='LEADCF182' name='LEADCF182' class="input-full" autocorrect="off" autocapitalize="off" value="{% if form.address %}{{ form.address }}{% elsif customer %}{{ customer.address }}{% endif %}">
              </div>

              <div class="grid__item medium-up--one-third">
                <label for="Website">Website</label>
                <input type="text" id='Website' name='Website' class="input-full" autocorrect="off" autocapitalize="off" value="{% if form.website %}{{ form.website }}{% elsif customer %}{{ customer.website }}{% endif %}">
              </div>

              <div class="grid__item medium-up--one-half">
                <label>Products Interested in</label>
                <div class="grid">
                  <div class="grid__item medium-up--one-half">
                    <div class="checkbox">
                      <input type="checkbox" id='LEADCF107' name='LEADCF107' value="on" />
                      <label for="LEADCF107">'MY' UV ONE</label>
                    </div>
                    <div class="checkbox">
                      <input type="checkbox" id='LEADCF132' name='LEADCF132' value="on" />
                      <label for="LEADCF132">'MY' UV SAFE</label>
                    </div>
                    <div class="checkbox">
                      <input type="checkbox" id='LEADCF136' name='LEADCF136' value="on" />
                      <label for="LEADCF136">'MY' MASK SERIES 1</label>
                    </div>
                    <div class="checkbox">
                      <input type="checkbox" id='LEADCF135' name='LEADCF135' value="on" />
                      <label for="LEADCF135">'MY' MASK SERIES 3</label>
                    </div>
                    <div class="checkbox">
                      <input type="checkbox" id='LEADCF110' name='LEADCF110' value="on" />
                      <label for="LEADCF110">'MY' MASK SERIES 5</label>
                    </div>
                  </div>
                  <div class="grid__item medium-up--one-half">
                    <div class="checkbox">
                      <input type="checkbox" id='LEADCF133' name='LEADCF133' value="on" />
                      <label for="LEADCF133">'MY' SCARVES</label>
                    </div>
                    <div class="checkbox">
                      <input type="checkbox" id='LEADCF134' name='LEADCF134' value="on" />
                      <label for="LEADCF134">'MY' OVERALLS</label>
                    </div>
                    <div class="checkbox">
                      <input type="checkbox" id='LEADCF103' name='LEADCF103' value="on" />
                      <label for="LEADCF103">'MY' GPS</label>
                    </div>
                    <div class="checkbox">
                      <input type="checkbox" id='LEADCF101' name='LEADCF101' value="on" />
                      <label for="LEADCF101">'MY' LOCK</label>
                    </div>
                    <div class="checkbox">
                      <input type="checkbox" id='LEADCF108' name='LEADCF108' value="on" />
                      <label for="LEADCF108">'MY' SAFE PLACE</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid__item medium-up--one-half">
                <label for="Description">{{ 'contact.form.message' | t }}</label>
                <textarea rows="4" id='Description' name='Description' class="input-full">{% if form.body %}{{ form.body }}{% endif %}</textarea>
              </div>
              <div class="grid__item medium-up--one-half"></div>
              <div class="grid__item medium-up--one-half">
                <label for="theFile4733677000001651703">Upload your Organization's Logo</label>
                <input type="file" name='theFile' id='theFile4733677000001651703' class="input-full" autocorrect="off" autocapitalize="off" >
                <span class="form__teaser">File size limit is 3MB. Kindly upload your logo in PNG/JPG/GIF format.</span>
              </div>
            </div>

            <div class="disclaimer">
              {{ block.settings.disclaimer  }}
            </div>

            <div class="checkbox">
              <input type="checkbox" id="ContactFormACCEPT-{{ blockId }}" value="acknowledge" required />
              <label for="ContactFormACCEPT-{{ blockId }}">I accept the above terms and conditions.</label>
            </div>
           
            <div class="page__form-footer">
              <button type="submit" class="btn" onclick="return onEnquirySubmit()">
                SUBMIT
              </button>
            </div>
            <script id='wf_anal' src='https://crm.zohopublic.com/crm/WebFormAnalyticsServeServlet?rid=38d7a7834cf51d05aa8f7901f7538cfa713bc5a355d3a5733b8a3fca6de2d498gidf189a438eaa1f39bf771183446f58fe92f03bd62bb39ad6181658a00e4c9facdgid885e3c1045bd9bdcc91bdf30f82b5696gid14f4ec16431e0686150daa43f3210513'></script>
          </form> 
        </div>
      </div>
    </div>
  </div>
  <script>
    let imageUpload = document.getElementById("theFile4733677000001651703");
    imageUpload.onchange = function(e) {
      var reader = new FileReader();
      reader.readAsDataURL(e.target.files[0]);

      reader.onload = function () {
          sessionStorage.setItem("enquiry-logo", reader.result);
      }
    };

    function onEnquirySubmit() {
      let email = document.getElementById("Email");
      sessionStorage.setItem("enquiry-email", email.value);

      return true;
    }
  </script>
</div>
