{%- liquid
  assign blockId = block.id
-%}

<div class="index-section">
  <div class="page-width">

    <div class="form-vertical">
      {%- assign form_id = 'contact-' | append: blockId -%}
      {%- form 'contact', id: form_id  -%}

        {%- if form.posted_successfully? -%}
          <p class="note note--success">
            {{ 'contact.form.post_success' | t }}
          </p>
        {%- endif -%}

        {{ form.errors | default_errors }}

        <label for="ContactFormName-{{ blockId }}">{{ 'contact.form.name' | t }}*</label>
        <input type="text" required id="ContactFormName-{{ blockId }}" class="input-full" name="contact[name]" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">

        <label for="ContactFormEmail-{{ blockId }}">{{ 'contact.form.email' | t }}*</label>
        <input type="email" required id="ContactFormEmail-{{ blockId }}" class="input-full" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

        <label for="ContactFormPhone-{{ blockId }}">{{ 'contact.form.phone' | t }}</label>
        <input type="tel" id="ContactFormPhone-{{ blockId }}" class="input-full" name="contact[phone]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">

        <label for="ContactFormLinkedIn-{{ blockId }}">LinkedIn URL</label>
        <input type="text" id="ContactFormLinkedIn-{{ blockId }}" class="input-full" name="contact[linkedInUrl]">

        <label for="ContactFormMessage-{{ blockId }}">{{ 'contact.form.message' | t }}</label>
        <textarea rows="5" id="ContactFormMessage-{{ blockId }}" class="input-full" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

        <button type="submit" class="btn">
          {{ 'contact.form.send' | t }}
        </button>

        {% comment %}
          Remove the following three lines of code to remove the note
          about being protected by Google's reCAPTCHA service.
          By removing it, the small reCAPTCHA widget will appear in the
          bottom right corner of the page.
        {% endcomment %}
        {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}

      {%- endform -%}
    </div>
  </div>
</div>
