{%- liquid
  assign gutter_width = 0
  assign aspect_total = 0
  if block.settings.enable_gutter
    assign gutter_width = 1
  endif
  assign gutter_total = gutter_width
  assign image_index = 0
  assign enable_zoom = block.settings.enable_zoom
-%}

{%- capture image_count -%}{%- if block.settings.image_1 -%}+{%- endif -%}{%- if block.settings.image_2 -%}+{%- endif -%}{%- if block.settings.image_3 -%}+{%- endif -%}{%- if block.settings.image_4 -%}+{%- endif -%}{%- if block.settings.image_5 -%}+{%- endif -%}{%- endcapture -%}

{% comment %}
  If any image links are set, disable zoom
{% endcomment %}
{%- liquid
  if block.settings.image_1_link != blank or block.settings.image_2_link != blank or block.settings.image_3_link != blank or block.settings.image_4_link != blank or block.settings.image_5_link != blank
    assign enable_zoom = false
  endif
-%}

<div
  data-subsection
  data-section-id="{{ block.id }}"
  {% if enable_zoom %}
    data-section-type="photoswipe"
    data-zoom="true"
  {% endif %}>
  <div class="image-row{% if block.settings.enable_gutter %} image-row--gutters{% endif %}">
    {%- if block.settings.image_1 == blank and block.settings.image_2 == blank and block.settings.image_3 == blank and block.settings.image_4 == blank and block.settings.image_5 == blank -%}
      <div class="image-row__placeholder">
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
      <div class="image-row__placeholder">
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
      <div class="image-row__placeholder">
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    {%- endif -%}

    {%- if block.settings.image_1 -%}
      {%- assign image_index = image_index | plus: 1 -%}
      <div data-aos="row-of-{{ image_count | size }}">
        <div class="image-row__image image-row-{{ block.id }}--1 image-wrap">
          {%- if block.settings.image_1_link != blank -%}
            <a href="{{ block.settings.image_1_link }}">
          {%- endif -%}
          {%- assign img_url = block.settings.image_1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          {%- assign aspect_total = aspect_total | plus: block.settings.image_1.aspect_ratio -%}
          {%- assign gutter_total = gutter_total | plus: gutter_width -%}
          <img class="lazyload photoswipe__image js-photoswipe__zoom"
            data-index="{{ image_index }}"
            data-photoswipe-src="{{ block.settings.image_1.src | img_url: '1600x1600' }}"
            data-photoswipe-width="{{ block.settings.image_1.width }}"
            data-photoswipe-height="{{ block.settings.image_1.height }}"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080, 1500]"
            data-aspectratio="{{ block.settings.image_1.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ block.settings.image_1.alt }}">
          {%- if block.settings.image_1_link != blank -%}
            </a>
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}
    {%- if block.settings.image_2 -%}
      {%- assign image_index = image_index | plus: 1 -%}
      <div data-aos="row-of-{{ image_count | size }}">
        <div class="image-row__image image-row-{{ block.id }}--2 image-wrap">
          {%- if block.settings.image_2_link != blank -%}
            <a href="{{ block.settings.image_2_link }}">
          {%- endif -%}
          {%- assign img_url = block.settings.image_2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          {%- assign aspect_total = aspect_total | plus: block.settings.image_2.aspect_ratio -%}
          {%- assign gutter_total = gutter_total | plus: gutter_width -%}
          <img class="lazyload photoswipe__image js-photoswipe__zoom"
            data-index="{{ image_index }}"
            data-photoswipe-src="{{ block.settings.image_2.src | img_url: '1600x1600' }}"
            data-photoswipe-width="{{ block.settings.image_2.width }}"
            data-photoswipe-height="{{ block.settings.image_2.height }}"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080]"
            data-aspectratio="{{ block.settings.image_2.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ block.settings.image_2.alt }}">
          {%- if block.settings.image_2_link != blank -%}
            </a>
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}
    {%- if block.settings.image_3 -%}
      {%- assign image_index = image_index | plus: 1 -%}
      <div data-aos="row-of-{{ image_count | size }}">
        <div class="image-row__image image-row-{{ block.id }}--3 image-wrap">
          {%- if block.settings.image_3_link != blank -%}
            <a href="{{ block.settings.image_3_link }}">
          {%- endif -%}
          {%- assign img_url = block.settings.image_3 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          {%- assign aspect_total = aspect_total | plus: block.settings.image_3.aspect_ratio -%}
          {%- assign gutter_total = gutter_total | plus: gutter_width -%}
          <img class="lazyload photoswipe__image js-photoswipe__zoom"
            data-index="{{ image_index }}"
            data-photoswipe-src="{{ block.settings.image_3.src | img_url: '1600x1600' }}"
            data-photoswipe-width="{{ block.settings.image_3.width }}"
            data-photoswipe-height="{{ block.settings.image_3.height }}"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080]"
            data-aspectratio="{{ block.settings.image_3.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ block.settings.image_3.alt }}">
          {%- if block.settings.image_3_link != blank -%}
            </a>
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}
    {%- if block.settings.image_4 -%}
      {%- assign image_index = image_index | plus: 1 -%}
      <div data-aos="row-of-{{ image_count | size }}">
        <div class="image-row__image image-row-{{ block.id }}--4 image-wrap">
          {%- if block.settings.image_4_link != blank -%}
            <a href="{{ block.settings.image_4_link }}">
          {%- endif -%}
          {%- assign img_url = block.settings.image_4 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          {%- assign aspect_total = aspect_total | plus: block.settings.image_4.aspect_ratio -%}
          {%- assign gutter_total = gutter_total | plus: gutter_width -%}
          <img class="lazyload photoswipe__image js-photoswipe__zoom"
            data-index="{{ image_index }}"
            data-photoswipe-src="{{ block.settings.image_4.src | img_url: '1600x1600' }}"
            data-photoswipe-width="{{ block.settings.image_4.width }}"
            data-photoswipe-height="{{ block.settings.image_4.height }}"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080]"
            data-aspectratio="{{ block.settings.image_4.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ block.settings.image_4.alt }}">
          {%- if block.settings.image_4_link != blank -%}
            </a>
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}
    {%- if block.settings.image_5 -%}
      {%- assign image_index = image_index | plus: 1 -%}
      <div data-aos="row-of-{{ image_count | size }}">
        <div class="image-row__image image-row-{{ block.id }}--5 image-wrap">
          {%- if block.settings.image_5_link != blank -%}
            <a href="{{ block.settings.image_5_link }}">
          {%- endif -%}
          {%- assign img_url = block.settings.image_5 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          {%- assign aspect_total = aspect_total | plus: block.settings.image_5.aspect_ratio -%}
          {%- assign gutter_total = gutter_total | plus: gutter_width -%}
          <img class="lazyload photoswipe__image js-photoswipe__zoom"
            data-index="{{ image_index }}"
            data-photoswipe-src="{{ block.settings.image_5.src | img_url: '1600x1600' }}"
            data-photoswipe-width="{{ block.settings.image_5.width }}"
            data-photoswipe-height="{{ block.settings.image_5.height }}"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080]"
            data-aspectratio="{{ block.settings.image_5.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ block.settings.image_5.alt }}">
          {%- if block.settings.image_5_link != blank -%}
            </a>
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}
  </div>
</div>

{%- assign images_width = 100.0 | minus: gutter_total -%}
{%- style -%}
  .image-row-{{ block.id }}--1 {
    margin: 0 0 {{ gutter_width }}% {{ gutter_width }}%;
    width: {{ block.settings.image_1.aspect_ratio | divided_by: aspect_total | times: images_width }}% !important;
  }
  .image-row-{{ block.id }}--1:after {
    padding-bottom: {{ 100 | divided_by: block.settings.image_1.aspect_ratio }}%;
  }
  .image-row-{{ block.id }}--2 {
    margin: 0 0 {{ gutter_width }}% {{ gutter_width }}%;
    width: {{ block.settings.image_2.aspect_ratio | divided_by: aspect_total | times: images_width }}% !important;
  }
  .image-row-{{ block.id }}--2:after {
    padding-bottom: {{ 100 | divided_by: block.settings.image_2.aspect_ratio }}%;
  }
  .image-row-{{ block.id }}--3 {
    margin: 0 0 {{ gutter_width }}% {{ gutter_width }}%;
    width: {{ block.settings.image_3.aspect_ratio | divided_by: aspect_total | times: images_width }}% !important;
  }
  .image-row-{{ block.id }}--3:after {
    padding-bottom: {{ 100 | divided_by: block.settings.image_3.aspect_ratio }}%;
  }
  .image-row-{{ block.id }}--4 {
    margin: 0 0 {{ gutter_width }}% {{ gutter_width }}%;
    width: {{ block.settings.image_4.aspect_ratio | divided_by: aspect_total | times: images_width }}% !important;
  }
  .image-row-{{ block.id }}--4:after {
    padding-bottom: {{ 100 | divided_by: block.settings.image_4.aspect_ratio }}%;
  }
.image-row-{{ block.id }}--5 {
    margin: 0 0 {{ gutter_width }}% {{ gutter_width }}%;
    width: {{ block.settings.image_5.aspect_ratio | divided_by: aspect_total | times: images_width }}% !important;
  }
  .image-row-{{ block.id }}--5:after {
    padding-bottom: {{ 100 | divided_by: block.settings.image_5.aspect_ratio }}%;
  }
{%- endstyle -%}
