<div class="index-section">
  <div class="page-width">
    {%- capture image_layout -%}
      <div class="feature-row__item">
        <div class="feature-row__item-video" style="padding: {{ block.settings.image_padding }};">
          <div
            data-section-id="{{ block.id }}"
            data-section-type="video-section"
            class="promo-video video-parent-section">

          {%- render 'page-video-block', section_id: block.id, url: block.settings.video_url -%}
          </div>

        </div>
      </div>
    {%- endcapture -%}

    <div class="feature-row" data-aos>
      {%- if block.settings.layout == 'left' -%}
        {{ image_layout }}
      {%- endif -%}

      <div class="feature-row__item feature-row__text feature-row__text--{{ block.settings.layout }}">
        <div style="margin: 0 auto; max-width: {{ block.settings.image_width }}px;">
        {%- if block.settings.subtitle != blank -%}
          <p class="h5">{{ block.settings.subtitle }}</p>
        {%- endif -%}
        {%- if block.settings.title != blank -%}
          <p class="h3">{{ block.settings.title | escape }}</p>
        {%- endif -%}
        {%- if block.settings.text != blank -%}
          <div class="rte featured-row__subtext">{{ block.settings.text }}</div>
        {%- endif -%}
        {%- if block.settings.button_label != blank -%}
          <a href="{{ block.settings.button_link }}" class="btn">
            {{ block.settings.button_label }}
          </a>
        {%- endif -%}
        {%- if block.settings.icon != blank -%}
          <div class="featured-row__icon">{{ block.settings.icon }}</div>
        {%- endif -%}
      	</div>
      </div>

      {%- if block.settings.layout == 'right' -%}
        {{ image_layout }}
      {%- endif -%}
    </div>
  </div>
</div>
