{%- style -%}
  .block--{{ block.id }} {
    {%- if block.settings.bg_image != blank -%}
      background-image: url("{{ block.settings.bg_image | img_url: '1800x' }}");
    {% endif %}
  }
{%- endstyle -%}

<div class="page__banner block--{{ block.id }}">
  <div class="grid">
    <div class="grid__item small-up--one-half">
      <div class="page__banner-title">
        {{ block.settings.title }}
      </div>
    </div>
    <div class="grid__item small-up--one-half">
        {%- if block.settings.image -%}
          <div class="page__banner-image">
            <img src="{{ block.settings.image | img_url: '200x' }}" >
          </div>
        {%- endif -%}
    </div>
  </div>
</div>