<div class="index-section">
  <div class="page-width">
    {%- capture image_layout -%}
      <div class="feature-row__item">
        <div class="feature-row__item-image" style="padding: {{ block.settings.image_padding }};">
          {%- if block.settings.image != blank -%}
            {%- if block.settings.button_label != blank and block.settings.button_link != blank %}<a href="{{ block.settings.button_link }}">{% endif -%}
            <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.image.aspect_ratio }}%;">
              {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img class="feature-row__image lazyload"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720, 900, 1080]"
                  data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ block.settings.image.alt }}">
            </div>
            {%- if block.settings.button_label != blank and block.settings.button_link != blank %}</a>{% endif -%}
          {%- else -%}
            <div class="image-wrap image-placeholder">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {%- endif -%}
        </div>
      </div>
    {%- endcapture -%}

    <div class="feature-row" data-aos>
      {%- if block.settings.layout == 'left' -%}
        {{ image_layout }}
      {%- endif -%}

      <div class="feature-row__item feature-row__text feature-row__text--{{ block.settings.layout }}">
        <div style="margin: 0 auto; max-width: {{ block.settings.image_width }}px;">
        {%- if block.settings.subtitle != blank -%}
          <p class="h5">{{ block.settings.subtitle }}</p>
        {%- endif -%}
        {%- if block.settings.title != blank -%}
          <p class="h3">{{ block.settings.title | escape }}</p>
        {%- endif -%}
        {%- if block.settings.text != blank -%}
          <div class="rte featured-row__subtext">{{ block.settings.text }}</div>
        {%- endif -%}
        {%- if block.settings.button_label != blank -%}
          <a href="{{ block.settings.button_link }}" 
            data-section-id="{{ section.id }}"
            class="btn {% if block.settings.css == 'mask-subscribe' %} subscribe__btn js-modal-open-subscribe-{{ section.id }}{% endif %}">
            {{ block.settings.button_label }}
          </a>
        {%- endif -%}
        {%- if block.settings.icon != blank -%}
          <div class="featured-row__icon">{{ block.settings.icon }}</div>
        {%- endif -%}
      	</div>
      </div>

      {%- if block.settings.layout == 'right' -%}
        {{ image_layout }}
      {%- endif -%}
    </div>
  </div>
</div>
