{%- liquid
  unless grid_item_width
    assign grid_item_width = 'medium-up--one-quarter small--one-half'
  endunless

  assign on_sale = false
  if product.compare_at_price > product.price
    assign on_sale = true
  endif

  assign sold_out = true
  if product.available
    assign sold_out = false
  endif

  assign product_tags = product.tags | join: ','
  assign has_custom_label = false
  if product_tags contains '_label_'
    for tag in product.tags
      if tag contains '_label_'
        assign tag_starts_with = tag | slice: 0
        if tag_starts_with == '_'
          assign has_custom_label = true
          assign custom_label = tag | replace: '_label_', ''
        endif
      endif
    endfor
  endif
-%}

  {%- assign section_id = section_id | append: product.id -%}
  <div class="grid__item grid-product {{ grid_item_width }}
  {% if settings.quick_shop_enable and sold_out == false %} grid-product__has-quick-shop{% endif %}" 
  data-aos="row-of-{{ per_row }}"
  data-section-id="{{ section_id }}"
  data-section-type="product-template">
  <div class="grid-product__content">
    {%- if has_custom_label -%}
      <div class="grid-product__tag grid-product__tag--custom">
        {{ custom_label }}
      </div>
    {%- else -%}
      {%- if sold_out -%}
        <div class="grid-product__tag grid-product__tag--sold-out">
          {{ 'products.product.sold_out' | t }}
        </div>
      {%- endif -%}
      {%- if on_sale and sold_out == false -%}
        <div class="grid-product__tag grid-product__tag--sale">
          {{ 'products.general.sale' | t }}
        </div>
      {%- endif -%}
    {%- endif -%}

    {%- liquid
      assign fixed_aspect_ratio = false
      unless settings.product_grid_image_size == 'natural'
        assign fixed_aspect_ratio = true
      endunless

      assign preview_image = product.featured_media.preview_image
      assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
    -%}

      <div class="grid-product__image-mask">
        {%- if settings.quick_shop_enable and sold_out == false -%}
          <div class="quick-product__btn js-modal-open-quick-modal-{{ product.id }} small--hide" data-product-id="{{ product.id }}">
            <span class="quick-product__label">{{ settings.quick_shop_text }}</span>
          </div>
        {%- endif -%}
       <div
            class="grid__image-ratio lazyload grid-product__main-image--{{ section_id }}"
            data-bgset="{% render 'bgset', image: preview_image %}"
            data-sizes="auto">
          </div>
          <div class="grid-product__overlay">
            <div class="grid-product-container">
                <p class="grid-product__description">{{ product.description }}</p>
                {%- capture form_id -%}AddToCartForm-{{ section_id }}{%- endcapture -%}
                {%- form 'product', product, id: form_id, class: 'product-single__form' -%}
                  <select name="id" id="ProductSelect-{{ section_id }}" class="product-single__variants no-js">
                    {%- for variant in product.variants -%}
                      {%- if variant.available -%}
                        <option {% if variant == product.selected_or_first_available_variant %}
                          selected="selected"{% endif %}
                          value="{{ variant.id }}">
                          {{ variant.title }} - {{ variant.price | money_with_currency }}
                        </option>
                      {%- else -%}
                        <option disabled="disabled">
                          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                        </option>
                      {%- endif -%}
                    {%- endfor -%}
                  </select>
                  
                  
                  {%- for option in product.options_with_values -%}
                    {%- liquid
                      assign option_name = option.name | downcase
                      assign size_count = 0
                      assign is_size = false
                      if option_name contains 'size'
                        assign is_size = true
                      endif
                    -%}
                    {%- if is_size -%}
                      {%- assign option_index = forloop.index0 -%}
                      {%- assign variant_index = forloop.index -%}
                      {%- assign values = '' -%}
                      <div class="grid-product__size grid-product__size--{{ product.id }} variant-input-wrap">
                        {%- for variant in product.variants -%}
                          {%- assign value = variant.options[option_index] %}
                          {%- unless values contains value -%}
                            {%- liquid
                              assign values = values | join: ','
                              assign values = values | append: ',' | append: value
                              assign values = values | split: ','

                              assign size_name = value
                              assign size_count = size_count | plus: 1
                            -%}

                            <input type="radio"
                              {% if variant == product.selected_or_first_available_variant %}
                              checked="checked"{% endif %}
                              value="{{ value | escape }}"
                              data-index="option{{ variant_index }}"
                              data-action="addToCart"
                              name="size{{ product.id }}"
                              class="variant__input-{{ product.id }} variant--size"
                              id="ProductSelect-{{ product.id }}-option-size-{{ value | handleize }}">

                            <label
                              class="variant__button-label"
                              for="ProductSelect-{{ product.id }}-option-size-{{ value | handleize }}">
                                {{ value }}
                            </label>
                          {%- endunless -%}
                        {%- endfor -%}
                      </div>

                    {%- endif -%}
                  {%- endfor -%}

                  <button
                    type="submit"
                    name="add"
                    id="AddToCart-{{ section_id }}"
                    class="btn add-to-cart btn--secondary">
                      <span id="AddToCartText-{{ section_id }}">
                        Buy It Now
                      </span>
                  </button>

                  <a href="{{ product.url }}"
                    class="btn btn--secondary">
                        Know More
                    </a>

                {%- endform -%}
            </div>
          </div>
      </div>
      

      <div class="grid-product__meta">
        <div class="grid-product__title">
          <div class="grid-product__title-text grid-product__title--{{ settings.type_product_style }}">{{ product.title }}</div>
          <div class="grid-product__title-nav">
            <span
              data-product-id="{{ product.id }}"
              data-operation="prev">
                <svg viewBox="0 0 38 38">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.75 2.375H33.25C33.8799 2.375 34.484 2.62522 34.9294 3.07062C35.3748 3.51602 35.625 4.12011 35.625 4.75V33.25C35.625 33.8799 35.3748 34.484 34.9294 34.9294C34.484 35.3748 33.8799 35.625 33.25 35.625H4.75C4.12011 35.625 3.51602 35.3748 3.07062 34.9294C2.62522 34.484 2.375 33.8799 2.375 33.25V4.75C2.375 4.12011 2.62522 3.51602 3.07062 3.07062C3.51602 2.62522 4.12011 2.375 4.75 2.375ZM33.25 0C34.5098 0 35.718 0.500445 36.6088 1.39124C37.4996 2.28204 38 3.49022 38 4.75V33.25C38 34.5098 37.4996 35.718 36.6088 36.6088C35.718 37.4996 34.5098 38 33.25 38H4.75C3.49022 38 2.28204 37.4996 1.39125 36.6088C0.500446 35.718 0 34.5098 0 33.25V4.75C0 3.49022 0.500446 2.28204 1.39125 1.39124C2.28204 0.500445 3.49022 0 4.75 0L33.25 0Z" fill="#2F2F2F"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M19.8386 26.9673C19.9492 26.8569 20.037 26.7259 20.0968 26.5816C20.1567 26.4374 20.1875 26.2827 20.1875 26.1265C20.1875 25.9703 20.1567 25.8156 20.0968 25.6714C20.037 25.5271 19.9492 25.3961 19.8386 25.2858L13.552 19.0015L19.8386 12.7173C19.949 12.6068 20.0366 12.4758 20.0964 12.3315C20.1561 12.1873 20.1869 12.0326 20.1869 11.8765C20.1869 11.7204 20.1561 11.5657 20.0964 11.4215C20.0366 11.2772 19.949 11.1462 19.8386 11.0358C19.7282 10.9253 19.5971 10.8378 19.4529 10.778C19.3086 10.7183 19.154 10.6875 18.9979 10.6875C18.8417 10.6875 18.6871 10.7183 18.5429 10.778C18.3986 10.8378 18.2675 10.9253 18.1571 11.0358L11.0321 18.1608C10.9215 18.2711 10.8338 18.4021 10.7739 18.5464C10.7141 18.6906 10.6833 18.8453 10.6833 19.0015C10.6833 19.1577 10.7141 19.3124 10.7739 19.4566C10.8338 19.6009 10.9215 19.7319 11.0321 19.8423L18.1571 26.9673C18.2674 27.0778 18.3985 27.1656 18.5427 27.2254C18.687 27.2853 18.8417 27.3161 18.9979 27.3161C19.1541 27.3161 19.3087 27.2853 19.453 27.2254C19.5973 27.1656 19.7283 27.0778 19.8386 26.9673Z" fill="#2F2F2F"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M27.3125 19C27.3125 18.6851 27.1874 18.383 26.9647 18.1603C26.742 17.9376 26.4399 17.8125 26.125 17.8125H14.25C13.9351 17.8125 13.633 17.9376 13.4103 18.1603C13.1876 18.383 13.0625 18.6851 13.0625 19C13.0625 19.3149 13.1876 19.617 13.4103 19.8397C13.633 20.0624 13.9351 20.1875 14.25 20.1875H26.125C26.4399 20.1875 26.742 20.0624 26.9647 19.8397C27.1874 19.617 27.3125 19.3149 27.3125 19Z" fill="#2F2F2F"/>
                </svg>                
            </span>
            <span
              data-product-id="{{ product.id }}"
              data-operation="next">
                <svg viewBox="0 0 39 38">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M34.2314 2.375H5.73145C5.10156 2.375 4.49747 2.62522 4.05207 3.07062C3.60667 3.51602 3.35645 4.12011 3.35645 4.75V33.25C3.35645 33.8799 3.60667 34.484 4.05207 34.9294C4.49747 35.3748 5.10156 35.625 5.73145 35.625H34.2314C34.8613 35.625 35.4654 35.3748 35.9108 34.9294C36.3562 34.484 36.6064 33.8799 36.6064 33.25V4.75C36.6064 4.12011 36.3562 3.51602 35.9108 3.07062C35.4654 2.62522 34.8613 2.375 34.2314 2.375ZM5.73145 0C4.47167 0 3.26349 0.500445 2.37269 1.39124C1.48189 2.28204 0.981445 3.49022 0.981445 4.75L0.981445 33.25C0.981445 34.5098 1.48189 35.718 2.37269 36.6088C3.26349 37.4996 4.47167 38 5.73145 38H34.2314C35.4912 38 36.6994 37.4996 37.5902 36.6088C38.481 35.718 38.9814 34.5098 38.9814 33.25V4.75C38.9814 3.49022 38.481 2.28204 37.5902 1.39124C36.6994 0.500445 35.4912 0 34.2314 0L5.73145 0Z" fill="#2F2F2F"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M19.1428 26.9673C19.0322 26.8569 18.9445 26.7259 18.8846 26.5816C18.8248 26.4374 18.7939 26.2827 18.7939 26.1265C18.7939 25.9703 18.8248 25.8156 18.8846 25.6714C18.9445 25.5271 19.0322 25.3961 19.1428 25.2858L25.4294 19.0015L19.1428 12.7173C19.0324 12.6068 18.9448 12.4758 18.8851 12.3315C18.8253 12.1873 18.7946 12.0326 18.7946 11.8765C18.7946 11.7204 18.8253 11.5657 18.8851 11.4215C18.9448 11.2772 19.0324 11.1462 19.1428 11.0358C19.2532 10.9253 19.3843 10.8378 19.5286 10.778C19.6728 10.7183 19.8274 10.6875 19.9836 10.6875C20.1397 10.6875 20.2943 10.7183 20.4386 10.778C20.5828 10.8378 20.7139 10.9253 20.8243 11.0358L27.9493 18.1608C28.0599 18.2711 28.1476 18.4021 28.2075 18.5464C28.2674 18.6906 28.2982 18.8453 28.2982 19.0015C28.2982 19.1577 28.2674 19.3124 28.2075 19.4566C28.1476 19.6009 28.0599 19.7319 27.9493 19.8423L20.8243 26.9673C20.714 27.0778 20.583 27.1656 20.4387 27.2254C20.2944 27.2853 20.1398 27.3161 19.9836 27.3161C19.8274 27.3161 19.6727 27.2853 19.5284 27.2254C19.3842 27.1656 19.2531 27.0778 19.1428 26.9673Z" fill="#2F2F2F"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M11.6689 19C11.6689 18.6851 11.7941 18.383 12.0168 18.1603C12.2395 17.9376 12.5415 17.8125 12.8564 17.8125H24.7314C25.0464 17.8125 25.3484 17.9376 25.5711 18.1603C25.7938 18.383 25.9189 18.6851 25.9189 19C25.9189 19.3149 25.7938 19.617 25.5711 19.8397C25.3484 20.0624 25.0464 20.1875 24.7314 20.1875H12.8564C12.5415 20.1875 12.2395 20.0624 12.0168 19.8397C11.7941 19.617 11.6689 19.3149 11.6689 19Z" fill="#2F2F2F"/>
                </svg>
            </span>
          </div>
        </div>        
        <select id="ImageSelect-{{ product.id }}" class="hide">
          {%- for image in product.media -%}
          <option value="{{ image.src | img_url: '400x' }}">
            {{ image.src | img_url: '400x' }}
          </option>
          {%- endfor -%}
        </select>   
        {%- if settings.vendor_enable -%}
          <div class="grid-product__vendor">{{ product.vendor }}</div>
        {%- endif -%}
        <div class="grid-product__price">
          {%- if on_sale -%}
            <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
            <span class="grid-product__price--original">{{ product.compare_at_price | money }}</span>
            <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
          {%- endif -%}
          {%- if product.price_varies -%}
            {%- assign price = product.price_min | money -%}
            {{ 'products.general.from_text_html' | t: price: price }}
          {%- else -%}
            {{ product.price  | money }}
          {%- endif -%}
          {%- if on_sale -%}
            {%- if settings.product_save_amount -%}
              {%- if settings.product_save_type == 'dollar' -%}
                {%- capture saved_amount -%}{{ product.compare_at_price | minus: product.price | money }}{%- endcapture -%}
              {%- else -%}
                {%- capture saved_amount -%}{{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round }}%{%- endcapture -%}
              {%- endif -%}
              <span class="grid-product__price--savings">
                {{ 'products.general.save_html' | t: saved_amount: saved_amount }}
              </span>
            {%- endif -%}
          {%- endif -%}

          {%- assign product_variant = product.selected_or_first_available_variant -%}
          {%- if product_variant.unit_price_measurement -%}
            <div class="product__unit-price">
              {%- capture unit_price_base_unit -%}
                {%- if product_variant.unit_price_measurement -%}
                  {%- if product_variant.unit_price_measurement.reference_value != 1 -%}
                    {{ product_variant.unit_price_measurement.reference_value }}
                  {%- endif -%}
                  {{ product_variant.unit_price_measurement.reference_unit }}
                {%- endif -%}
              {%- endcapture -%}

              {{ product_variant.unit_price | money }}/{{ unit_price_base_unit }}
            </div>
          {%- endif -%}
        </div>
        {%- if settings.enable_product_reviews -%}
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {%- endif -%}
      </div>
  </div>
  {%- if settings.collection_color_swatches -%}
    {%- liquid
      assign swatch_trigger = 'products.general.color_swatch_trigger' | t | downcase
      assign swatch_file_extension = 'png'
      assign color_count = 0
    -%}

    {%- for option in product.options_with_values -%}
      {%- liquid
        assign option_name = option.name | downcase
        assign is_color = false
        if option_name contains swatch_trigger
          assign is_color = true
        elsif swatch_trigger == 'color' and option_name contains 'colour'
          assign is_color = true
        endif
      -%}
      {%- if is_color -%}
        {%- assign option_index = forloop.index0 -%}
        {%- assign variant_index = forloop.index -%}
        {%- assign values = '' -%}
        <div class="grid-product__colors grid-product__colors--{{ product.id }} variant-input-wrap">
          {%- for variant in product.variants -%}
            {%- assign value = variant.options[option_index] %}
            {%- unless values contains value -%}
              {%- liquid
                assign values = values | join: ','
                assign values = values | append: ',' | append: value
                assign values = values | split: ','

                assign color_image = value | handle | append: '.' | append: swatch_file_extension | asset_img_url: '50x' | prepend: 'https:' | split: '?' | first
                assign color_swatch_fallback = value | split: ' ' | last | handle
                assign color_count = color_count | plus: 1
              -%}

               <input type="radio"
                {% if forloop.index == 1 %} checked="checked"{% endif %}
                value="{{ value | escape }}"
                data-index="option{{ variant_index }}"
                name="color{{ product.id }}"
                class="variant__input-{{ product.id }}"
                id="ProductSelect-{{ product.id }}-option-{{ value | handleize }}">

              <label
                class="variant__button-label color-swatch color-swatch--small color-swatch--{{ value | handle }}{% if variant.image %} color-swatch--with-image{% endif %}"
                {% if variant.image %}
                data-product-id="{{ product.id }}"
                data-variant-id="{{ variant.id }}"
                data-variant-image="{{ variant.image | img_url: '400x' }}"
                {% endif %}
                for="ProductSelect-{{ product.id }}-option-{{ value | handleize }}"
                style="background-image: url({{ color_image }}); background-color: {{ color_swatch_fallback }};">
                  {{ value }}
              </label>
            {%- endunless -%}
           {%- endfor -%}
        </div>

        <textarea id="VariantsJson-{{ product.id }}" class="hide" aria-hidden="true" aria-label="Product JSON">
          {{ product.variants | json }}
        </textarea>                


        {%- if color_count < 2 -%}
          {%- style -%}
            .grid-product__colors--{{ product.id }} {
              display: none;
            }
          {%- endstyle -%}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
</div>
