{%- liquid
  assign current_variant = product.selected_or_first_available_variant

  unless thumbnail_position
    assign thumbnail_position = 'beside'
  endunless

  unless description_style
    assign description_style = 'full'
  endunless

  assign product_zoom_size = '1800x1800'
  assign product_image_size = '620x'

  case image_container_width
    when 'small'
      assign product_image_width = 'medium-up--two-fifths'
      assign product_description_width = 'medium-up--three-fifths'
      assign product_image_size = '480x'
    when 'medium'
      assign product_image_width = 'medium-up--one-half'
      assign product_description_width = 'medium-up--one-half'
      assign product_image_size = '620x'
    when 'large'
      assign product_image_width = 'medium-up--three-fifths'
      assign product_description_width = 'medium-up--two-fifths'
      assign product_image_size = '740x'
  endcase

  assign product_img_structure = product.featured_media | img_url: '1x1' | replace: '_1x1.', '_{width}x.'

  assign amazon_url = settings.market_place_amazon
  if product.metafields.info.amazon-url != blank
    assign amazon_url = product.metafields.info.amazon-url
  endif

  assign flipkart_url = settings.market_place_flipkart
  if product.metafields.info.flipkart-url != blank
    assign flipkart_url = product.metafields.info.flipkart-url
  endif

  assign paytm_url = settings.market_place_paytm
  if product.metafields.info.flipkart-url != blank
    assign flipkart_url = product.metafields.info.paytm-url
  endif
-%}

{%- style -%}
@media only screen and (min-width: 1025px) {
  .page-content--product {
    background-image: url({{ product.metafields.design.bg-image }});
  }
}

@media only screen and (max-width: 1024px) {
  .product-single__background {
    {% if product.metafields.design.bg-image-mobile != blank %} 
    background-image: url({{ product.metafields.design.bg-image-mobile }});
    {%else%}
    background-image: url({{ product.metafields.design.bg-image }});
    {% endif %}
  }
}
{%- endstyle -%}

<div id="ProductSection-{{ section_id }}"
  class="product-section"
  data-section-id="{{ section_id }}"
  data-section-type="product-template"
  data-product-handle="{{ product.handle }}"
  data-product-title="{{ product.title | escape }}"
  data-product-url="{{ product.url | within: collection }}"
  data-aspect-ratio="{{ 100 | divided_by: product.featured_media.aspect_ratio }}"
  data-img-url="{{ product_img_structure }}"
  {% if settings.product_zoom_enable %}
    data-image-zoom="true"
  {% endif %}
  {% if settings.inventory_enable %}
    data-inventory="true"
  {% endif %}
  {% if settings.inventory_transfers_enable %}
    data-incoming-inventory="true"
  {% endif %}
  {% unless isModal %}
    data-enable-history-state="true"
  {% endunless %}>

  {%- render 'product-template-variables', product: product, current_variant: current_variant -%}

  <div class="page-content page-content--product">
    <div class="page-width">

      <div class="grid{% unless image_position == 'left' %} grid--product-images-right{% endunless %}">
        {%- if image_position == 'left1' -%}
          <div class="grid__item {{ product_image_width }} product-single__sticky">
            {%- render 'product-images',
              section_id: section_id,
              product: product,
              isModal: isModal,
              image_position: image_position,
              product_zoom_size: product_zoom_size,
              product_image_size: product_image_size,
              thumbnail_arrows: thumbnail_arrows,
              thumbnail_position: thumbnail_position,
              video_looping: video_looping,
              video_style: video_style
            -%}
          </div>
        {%- endif -%}

        {%- liquid
          assign preview_image = product.featured_media.preview_image
          assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media
        -%}
        <div class="grid__item {{ product_image_width }}">
          <div class="product-single__image-container">
            <div class="product-single__background">
              <div
                class="product-single__image lazyload"
                data-bgset="{% render 'bgset', image: featured_media %}"
                data-sizes="auto"></div>                            
            </div>
            {%- if product.media.size > 1 -%}
              <div class="product-single__thumbs">
                {%- for media in product.media -%}
                  <div class="product-single__thumb-item {{ media.alt | escape }}">
                    <a
                      href="{{ media.preview_image | img_url: product_zoom_size }}"
                      class="product__thumb product__image-thumb-{{ section_id }}"
                      data-id="{{ media.id }}">
                      {%- assign img_url = media.preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                      <img class="lazyload"
                          data-src="{{ img_url }}"
                          data-widths="[360]"
                          data-sizes="auto"
                          alt="{{ media.alt | escape }}">
                    </a>
                  </div>
                {%- endfor -%}
              </div>
            {%- endif -%}
          </div>
        </div>

        <div class="grid__item {{ product_description_width }}">

          <div class="product-single__meta">
            {%- if settings.show_breadcrumbs and isModal != true -%}
              {%- render 'breadcrumbs' -%}
            {%- endif -%}

            {%- if settings.vendor_enable -%}
              <div class="product-single__vendor">
                {%- assign vendor_handle = product.vendor | handleize -%}
                {%- if collections[vendor_handle] != empty -%}
                  <a href="{{ routes.collections_url }}/{{ collections[vendor_handle].handle }}">
                    {{ collections[vendor_handle].title }}
                  </a>
                {%- else -%}
                  {{ product.vendor | link_to_vendor }}
                {%- endif -%}
              </div>
            {%- endif -%}

            {%- if isModal -%}
              <p class="h2 product-single__title">
                {{ product.title }}
              </p>
            {%- else -%}
              <h1 class="h2 product-single__title">
                {{ product.title }}
              </h1>
            <div class="product-single__description">
                {{ product.description }}
              </div>
            {%- endif -%}

            {%- if settings.enable_product_reviews and settings.reviews_layout == 'full' -%}
              {%- liquid
                if isModal
                  assign review_link = product.url | within: collection | append: '#Reviews-' | append: product.id
                else
                  assign review_link = '#Reviews-' | append: product.id
                endif
              -%}
              <a href="{{ review_link }}" class="product-single__review-link">
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
              </a>
            {%- endif -%}

            {%- if settings.sku_enable -%}
              <p id="Sku-{{ section_id }}" class="product-single__sku">
                {%- if current_variant.sku -%}
                  {{ current_variant.sku }}
                {%- endif -%}
              </p>
            {%- endif -%}

            {%- assign hide_sale_price = true -%}
            {%- if product.compare_at_price_max > product.price -%}
              {%- if current_variant.compare_at_price > current_variant.price -%}
                {%- assign hide_sale_price = false -%}
              {%- endif -%}
              <span
                id="PriceA11y-{{ section_id }}"
                class="visually-hidden"
                aria-hidden="{{ hide_sale_price }}">
                  {{ 'products.general.regular_price' | t }}
              </span>
              <span class="product__price-wrap-{{ section_id }}{% if hide_sale_price %} hide{% endif %}">
                <span id="ComparePrice-{{ section_id }}" class="product__price product__price--compare">
                  {%- if current_variant.compare_at_price > current_variant.price -%}
                    {{ current_variant.compare_at_price | money }}
                  {%- endif -%}
                </span>
              </span>
              <span id="ComparePriceA11y-{{ section_id }}" class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
            {%- else -%}
              <span id="PriceA11y-{{ section_id }}" class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
            {%- endif -%}
			
            {%- if current_variant.price > 0 -%}
            <span id="ProductPrice-{{ section_id }}"
              class="product__price{% if current_variant.compare_at_price > current_variant.price %} on-sale{% endif %}">
              {{ current_variant.price | money }}
            </span>
            <span class="product__price--tax"><small>{{ product.metafields.info.tax }}</small></span>
            <div class="product__policies rte small--text-center">
                <div class="shipping-info"><small>{{ product.metafields.info.shipping }}</small></div>
            </div>
			{%- endif -%}

            {%- if settings.product_save_amount -%}
              {%- if settings.product_save_type == 'dollar' -%}
                {%- capture saved_amount -%}{{ current_variant.compare_at_price | minus: current_variant.price | money }}{%- endcapture -%}
              {%- else -%}
                {%- capture saved_amount -%}{{ current_variant.compare_at_price | minus: current_variant.price | times: 100.0 | divided_by: current_variant.compare_at_price | round }}%{%- endcapture -%}
              {%- endif -%}
              <span id="SavePrice-{{ section_id }}" class="product__price-savings{% if hide_sale_price %} hide{% endif %}">
                {%- unless hide_sale_price -%}
                  {{ 'products.general.save_html' | t: saved_amount: saved_amount }}
                {%- endunless -%}
              </span>
            {%- endif -%}

            <div class="product__unit-price product__unit-price--spacing product__unit-price-wrapper--{{ section_id }}{% unless current_variant.unit_price_measurement %} hide{% endunless %}">
              {%- capture unit_price_base_unit -%}
                <span class="product__unit-base--{{ section_id }}">
                  {%- if current_variant.unit_price_measurement -%}
                    {%- if current_variant.unit_price_measurement.reference_value != 1 -%}
                      {{ current_variant.unit_price_measurement.reference_value }}
                    {%- endif -%}
                    {{ current_variant.unit_price_measurement.reference_unit }}
                  {%- endif -%}
                </span>
              {%- endcapture -%}

              <span class="product__unit-price--{{ section_id }}">{{ current_variant.unit_price | money }}</span>/{{ unit_price_base_unit }}
            </div>

            {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
              <div class="product__policies rte small--text-center">
                <small>
                  {%- if shop.taxes_included -%}
                    {{ 'products.product.include_taxes' | t }}
                  {%- endif -%}
                  {%- if shop.shipping_policy.body != blank -%}
                    {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- endif -%}
                </small>
              </div>
            {%- endif -%}

            {%- if settings.inventory_enable or settings.inventory_transfers_enable -%}
              {%- assign variants_with_inventory_tracking = product.variants | where: 'inventory_management', 'shopify' -%}

              <script>
                // Store inventory quantities in JS because they're no longer
                // available directly in JS when a variant changes.
                // Have an object that holds all potential products so it works
                // with quick view or with multiple featured products.
                window.inventories = window.inventories || {};
                window.inventories['{{section_id}}'] = {};
                 {% for variant in variants_with_inventory_tracking %}
                  window.inventories['{{section_id}}'][{{variant.id}}] = {
                    'quantity': {{ variant.inventory_quantity | default: 0 }},
                    'incoming': {{ variant.incoming | default: false | json }},
                    'next_incoming_date': {{ variant.next_incoming_date | date: format: 'date' | json }}
                  };
                 {% endfor %}
              </script>

              {% comment %}
                If loaded in quick view, it might be from a JS-loaded function
                that loads recommended products. If that's the case, the above
                JS will not set the variant inventory. Add it to an accessible
                data div to read later instead.
              {% endcomment %}
              {%- if isModal -%}
                <div
                  data-section-id="{{ section_id }}"
                  class="hide js-product-inventory-data"
                  aria-hidden="true"
                  >
                  {%- for variant in variants_with_inventory_tracking -%}
                    <div
                      class="js-variant-inventory-data"
                      data-id="{{ variant.id }}"
                      data-quantity="{{ variant.inventory_quantity | default: 0 }}"
                      data-incoming="{{ variant.incoming | default: false | json }}"
                      data-date="{{ variant.next_incoming_date | date: format: 'date' | json }}"
                    >
                    </div>
                  {%- endfor -%}
                </div>
              {%- endif -%}
            {%- endif -%}

            <hr class="hr--medium">

            {%- if current_variant.price > 0 -%}
            {%- unless isModal -%}
              {% comment %}
                Shopify's product form attaches a number of tracking
                scripts that cause slower load times and false statistics.
                Quick view modals request these on-demand.
              {% endcomment %}
              {%- render 'product-form',
                section_id: section_id,
                product: product,
                current_variant: current_variant
              -%}
            {%- else -%}
              <div
                id="ProductFormHolder-{{ section_id }}"
                class="product-form-holder"
                data-url="{{ product.url }}"
                data-template="{{ product.template_suffix }}"></div>
            {%- endunless -%}
            {%- endif -%}


            {%- unless isModal -%}
              <div id="StoreAvailabilityHolder-{{ section_id }}"
                data-product-name="{{ product.title | escape }}"
                data-base-url="{{ shop.url }}{{ routes.root_url }}"
                ></div>
            {%- endunless -%}

            {%- if settings.trust_image != blank -%}
              <div class="aos-animate trust-image" style="max-width: {{ settings.trust_image.width }}px;">
                <div class="image-wrap " style="height: 0; padding-bottom: {{ 100 | divided_by: settings.trust_image.aspect_ratio }}%;">
                  {%- assign img_url = settings.trust_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <img class="lazyload"
                      data-src="{{ img_url }}"
                      data-widths="[360, 540, 700, 1024]"
                      data-aspectratio="{{ settings.trust_image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ settings.trust_image.alt }}">
                  <noscript>
                    <img class="lazyloaded" src="{{ settings.trust_image | img_url: '540x' }}" alt="{{ settings.trust_image.alt }}">
                  </noscript>
                </div>
              </div>
            {%- endif -%}

            {%- unless description_style == 'full' -%}
              

              {%- render 'product-additional-content', product: product, section_id: section_id -%}
            {%- endunless -%}

            {%- if social -%}
              {%- render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product -%}
            {%- endif -%}
            
            {%- if current_variant.price > 0 -%}
            <div class="product-additional-info">
              <div class="market-place">
                <p class="market-place__label">Check us out on:</p>
                <div class="market-place__icons">
                  {%if amazon_url != blank%}<a href="{{amazon_url}}" target="_blank">{%endif%}
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M26.7629 24.6577C26.6389 24.624 26.4885 24.6427 26.3157 24.7065C24.0006 25.7652 21.7494 26.5198 19.5622 26.9666C14.8381 27.9277 10.2343 27.4246 5.75458 25.4611C4.51062 24.913 2.78185 23.9895 0.568274 22.683C0.511236 22.638 0.441654 22.6118 0.369089 22.6079C0.293926 22.6042 0.230036 22.6117 0.169905 22.6417C0.109774 22.6718 0.0646758 22.7093 0.0308521 22.7581C-0.00297168 22.8069 -0.0104878 22.8745 0.0158195 22.9608C0.0383687 23.0434 0.0947415 23.1373 0.188696 23.2386C0.579548 23.6967 1.06436 24.1847 1.63936 24.7028C2.21436 25.2209 2.97728 25.8065 3.9281 26.4598C4.87892 27.113 5.87484 27.6949 6.90835 28.2017C7.94561 28.7085 9.14823 29.1365 10.52 29.4819C11.8917 29.8273 13.2635 30 14.6314 30C15.9919 30 17.3148 29.8611 18.5963 29.5908C19.8816 29.3167 20.964 28.9939 21.8472 28.6184C22.7266 28.2468 23.5383 27.8301 24.2825 27.3796C25.0266 26.929 25.5753 26.5461 25.9323 26.242C26.2893 25.9342 26.5449 25.6939 26.6915 25.5137C26.8643 25.2997 26.9508 25.1158 26.9508 24.9543C26.9545 24.7854 26.8869 24.6878 26.7629 24.6577ZM15.5785 8.85997C15.0073 8.90877 14.3195 9.01389 13.5115 9.17157C12.7035 9.32549 11.9556 9.52071 11.2641 9.74972C10.5726 9.97873 9.86604 10.2978 9.14823 10.7033C8.42665 11.1087 7.81407 11.5743 7.30671 12.0924C6.79936 12.6104 6.38596 13.2599 6.06275 14.0445C5.73955 14.8254 5.57794 15.6851 5.57794 16.6237C5.57794 17.6411 5.75458 18.5459 6.11537 19.3455C6.47239 20.1452 6.94968 20.7721 7.551 21.2376C8.14855 21.7032 8.82878 22.0673 9.58042 22.3339C10.3321 22.6004 11.1288 22.7206 11.9556 22.6868C12.7824 22.653 13.5904 22.5253 14.3759 22.3001C15.1576 22.0786 15.8942 21.7219 16.5782 21.2376C17.2622 20.7533 17.8221 20.179 18.2618 19.522C18.4234 19.7697 18.5663 19.9537 18.694 20.0738L19.021 20.408C19.239 20.6295 19.5735 20.9561 20.0244 21.3878C20.4717 21.8195 20.9302 22.24 21.3887 22.653L25.3122 18.9025L25.0867 18.7186C24.9251 18.5947 24.7335 18.4182 24.5155 18.1817C24.2975 17.9489 24.0795 17.6899 23.8691 17.4121C23.6549 17.1343 23.4707 16.8077 23.3166 16.4397C23.1625 16.0718 23.0836 15.7152 23.0836 15.3698V5.50369C23.0836 5.12452 23.0122 4.7153 22.8694 4.27231C22.7228 3.83306 22.4673 3.35252 22.0914 2.83444C21.7156 2.31636 21.2496 1.85083 20.6934 1.44538C20.1334 1.03992 19.3893 0.694531 18.4535 0.416719C17.5215 0.138906 16.4767 0 15.3267 0C14.1504 0 13.0567 0.138906 12.0345 0.40921C11.016 0.683269 10.1441 1.04743 9.41506 1.50544C8.68973 1.96346 8.06587 2.4928 7.54724 3.09723C7.02861 3.70166 6.64151 4.33237 6.38971 4.98936C6.13791 5.64635 6.01014 6.31085 6.01014 6.98286L11.0912 7.42961C11.2979 6.81392 11.576 6.28082 11.918 5.8228C12.2638 5.36479 12.5907 5.03441 12.8876 4.82793C13.1883 4.62145 13.5115 4.45626 13.8535 4.33237C14.1992 4.20848 14.4322 4.14466 14.5525 4.12965C14.6728 4.11838 14.7667 4.11463 14.8381 4.11463C15.8416 4.11463 16.5368 4.41121 16.9277 5.00063C17.172 5.35728 17.2922 5.89789 17.2922 6.6262V8.75109C16.721 8.77362 16.1497 8.81116 15.5785 8.85997ZM17.296 14.5626C17.296 15.1858 17.2133 15.7527 17.0517 16.252C16.706 17.3445 16.0483 18.0315 15.0824 18.3093C14.2406 18.5571 13.4401 18.4332 12.6809 17.9414C11.8729 17.4158 11.4708 16.6725 11.4708 15.7152C11.4708 14.9681 11.6587 14.3299 12.0345 13.7968C12.4103 13.2674 12.9102 12.8695 13.5378 12.6067C14.1654 12.3439 14.778 12.1562 15.3793 12.0473C15.9769 11.9347 16.6195 11.8671 17.296 11.8446V14.5626ZM29.8935 22.7806C29.7318 22.5779 29.2959 22.4465 28.5818 22.3789C27.8678 22.3114 27.2477 22.3151 26.714 22.3939C26.139 22.4615 25.5452 22.6267 24.9364 22.897C24.3238 23.1636 24.057 23.3888 24.1246 23.5653L24.1509 23.6141L24.1848 23.6403L24.2374 23.6479H24.4102C24.4403 23.6479 24.4779 23.6441 24.5305 23.6403C24.5831 23.6366 24.632 23.6291 24.6771 23.6253C24.7222 23.6216 24.7861 23.6141 24.8687 23.6103C24.9477 23.6066 25.0228 23.5953 25.0942 23.584C25.1055 23.584 25.2333 23.5728 25.4813 23.5502C25.7294 23.5277 25.9098 23.5127 26.0188 23.5014C26.1277 23.4902 26.3119 23.4789 26.5637 23.4677C26.8155 23.4564 27.0184 23.4564 27.1688 23.4677C27.3191 23.4789 27.4882 23.4939 27.6799 23.5089C27.8715 23.524 28.0256 23.5578 28.1459 23.6103C28.2662 23.6591 28.3564 23.7229 28.4127 23.8018C28.6081 24.0496 28.5706 24.5977 28.3 25.4499C28.0294 26.3021 27.7738 26.9816 27.5333 27.4847C27.4281 27.6987 27.4281 27.8301 27.5333 27.8864C27.6385 27.9427 27.7851 27.8901 27.9805 27.7362C28.5668 27.2782 29.0554 26.5874 29.45 25.6601C29.6792 25.112 29.8446 24.5414 29.9423 23.9444C30.0325 23.3475 30.0175 22.9608 29.8935 22.7806Z"/>
                    </svg>
                  {%if amazon_url != blank%}</a>{%endif%}
                  {%if flipkart_url != blank%}<a href="{{flipkart_url}}" target="_blank">{%endif%}
                    <svg width="26" height="30" viewBox="0 0 26 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2.55742 1.66625C2.41206 1.66765 2.26803 1.69344 2.13161 1.7425V1.25C2.13161 0.56125 2.70575 0 3.41032 0H22.1651C22.8697 0 23.4439 0.56125 23.4439 1.25V1.66625H2.55742ZM24.7226 4.58375H1.27871C0.574141 4.58375 0 5.145 0 5.83375V28.75C0 29.4387 0.574141 30 1.27871 30H10.6133L12.0173 22.9437H9.153C9.08779 22.9437 2.55742 22.6425 2.55742 22.6425L8.48935 22.2338L8.38961 21.7762L5.86033 21.42L8.26686 21.2225L8.1083 20.6612L4.17627 20.0775C4.17627 20.0775 8.44843 19.6112 8.51365 19.6112H12.6464L12.9623 17.9475C13.3318 15.9275 14.1707 14.4388 15.4852 13.3313C16.8061 12.2162 18.4825 11.6663 20.5195 11.6663C21.3417 11.6663 21.8659 11.855 22.0935 12.245C22.2444 12.4775 22.3506 12.89 22.4503 13.3187C22.5449 13.7587 22.6293 14.1575 22.5718 14.4475C22.4989 14.8787 21.9823 15.0287 21.0412 15.0287H20.7177C19.0208 15.0287 17.9889 15.9825 17.6424 17.9163L17.3316 19.61H19.3008C20.0348 19.61 20.2995 20.1125 20.0962 21.2425C19.8788 22.4187 19.407 22.9425 18.6756 22.9425H16.7089L15.3074 30H24.7213C25.4259 30 26 29.4387 26 28.75V5.83375C26 5.50245 25.8655 5.18469 25.6259 4.95031C25.3864 4.71592 25.0615 4.58408 24.7226 4.58375ZM23.8697 2.91625C23.8693 2.80595 23.8244 2.70027 23.7446 2.62228C23.6648 2.54429 23.5567 2.50033 23.4439 2.5H2.55742C2.44459 2.50033 2.33648 2.54429 2.2567 2.62228C2.17692 2.70027 2.13195 2.80595 2.13161 2.91625V3.75H23.8697V2.91625Z"/>
                    </svg>
                  {%if flipkart_url != blank%}</a>{%endif%}
                  {%if paytm_url != blank%}<a href="{{paytm_url}}" target="_blank">{%endif%}
                    <svg width="58" height="49" viewBox="0 0 58 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6.84928 0.0143571C6.82508 0.0349653 6.55885 0.0830536 6.25229 0.12427C4.74367 0.330352 3.33993 0.927988 2.26696 1.82788C1.09718 2.8102 0.451778 3.88183 0.161349 5.33127C0 6.09377 0 6.51968 0 24.4831C0 40.9559 0.0161349 42.9206 0.12908 43.5869C0.322699 44.6929 0.60506 45.3111 1.3392 46.2591C2.08141 47.214 3.38027 48.1138 4.61459 48.5123C4.93729 48.6222 5.27613 48.7321 5.36487 48.7664C6.01833 49 6.08287 49 29.0026 49C51.8093 49 52.0836 48.9931 52.7209 48.7664C52.8097 48.7321 53.1001 48.6359 53.3663 48.5535C55.2945 47.9284 56.8757 46.5339 57.5937 44.8303C58.0374 43.7655 58.0132 45.1257 57.989 24.3389C57.9567 3.26358 58.0051 5.01528 57.4485 3.89556C56.4884 1.94466 54.3748 0.508955 51.8496 0.11053C51.4785 0.0487058 45.6054 0.0280976 29.1155 0.00748941C16.8933 -0.00624937 6.86542 0.000618342 6.84928 0.0143571ZM30.2934 5.46866C32.9637 5.93578 35.3355 7.68747 36.3359 9.9475C36.465 10.2291 36.5941 10.5245 36.6263 10.6001C36.8119 10.9916 36.9732 11.8435 36.9813 12.4548L36.9894 13.1418L36.1907 13.1624C35.6744 13.1761 35.3597 13.1555 35.2871 13.1006C35.2145 13.0525 35.1742 12.8807 35.1742 12.6197C35.1742 12.235 34.9402 11.2321 34.7547 10.8062C33.8995 8.85527 32.3586 7.52261 30.3498 6.97992C29.5512 6.76697 28.1716 6.78071 27.3649 7.01427C25.9853 7.41269 24.6219 8.38815 23.799 9.57655C23.5732 9.89941 23.3957 10.1811 23.3957 10.2085C23.3957 10.236 23.3473 10.3322 23.2908 10.4284C23.0165 10.8749 22.7906 11.6923 22.7019 12.5441C22.6373 13.2105 22.6696 13.1899 21.5805 13.1624L20.8544 13.1418L20.8625 12.5922C20.8706 11.8022 21.1206 10.7237 21.4595 10.0505C22.2017 8.56675 23.1214 7.50887 24.396 6.69141C25.3238 6.09377 26.905 5.49613 27.5827 5.47552C27.6956 5.47552 27.865 5.44805 27.9538 5.4137C28.1555 5.33127 29.7609 5.37249 30.2934 5.46866ZM45.3231 14.0073C45.6135 14.0897 45.8636 14.3989 45.9443 14.7561C45.9685 14.8866 45.9362 15.3675 45.8555 15.8208C45.6296 17.2153 45.5167 17.916 45.3876 18.7747C45.315 19.2281 45.2424 19.6746 45.2182 19.7707C45.194 19.8669 45.1214 20.2791 45.0568 20.6981C44.952 21.385 44.8067 22.2575 44.484 24.2358C44.4195 24.6343 44.3146 25.28 44.2501 25.6784C43.887 27.9041 43.6128 29.5734 43.3869 30.8991C43.2981 31.4487 43.1771 32.1906 43.1287 32.5478C43.0158 33.3103 42.8705 33.64 42.5317 33.8461L42.2897 33.9904H29.0832H15.8768L15.6428 33.8461C15.2314 33.5988 15.1588 33.3996 14.8764 31.5861C14.7473 30.7892 14.6263 30.0611 14.4085 28.804C14.231 27.7804 13.9729 26.2211 13.8357 25.3693C13.7712 24.9503 13.6986 24.5381 13.6744 24.4557C13.6502 24.3664 13.5776 23.9611 13.513 23.5626C13.3355 22.4086 13.2387 21.8247 13.15 21.4194C13.1096 21.2133 12.9806 20.4508 12.8676 19.7364C12.7547 19.0151 12.6256 18.2595 12.5853 18.0534C12.5369 17.8473 12.4481 17.3321 12.3836 16.9199C12.3271 16.5009 12.2303 15.9307 12.1819 15.6491C12.1254 15.3675 12.1012 14.9896 12.1173 14.8179C12.1577 14.4676 12.4239 14.0897 12.6982 14.0004C12.9644 13.9111 45.0165 13.918 45.3231 14.0073ZM33.8834 37.0816C33.9721 37.1297 34.0044 37.2671 34.0044 37.5968V38.0433H34.3594C34.908 38.0433 35.0128 38.1601 35.0128 38.8058C35.0128 39.2798 34.9967 39.3554 34.8353 39.4447C34.7385 39.5065 34.5207 39.5546 34.3513 39.5546H34.0447V41.4849C34.0447 42.6802 34.0125 43.4633 33.9641 43.5457C33.8915 43.6625 33.7866 43.6762 33.1573 43.6762C32.7701 43.6762 32.3909 43.6556 32.3183 43.635C32.2053 43.6007 32.1892 43.3465 32.1892 41.5536V39.5134L31.8746 39.5408C31.7052 39.5546 31.4873 39.534 31.3905 39.4928C31.2373 39.4172 31.2211 39.3554 31.2211 38.8127C31.2211 38.1258 31.2776 38.0433 31.7213 38.0433C32.1569 38.0433 32.5038 37.8991 32.8346 37.5899C33.1734 37.2671 33.5526 37.0129 33.6736 37.0129C33.722 37.0129 33.8188 37.0473 33.8834 37.0816ZM19.2006 38.1532C19.6685 38.2837 20.1364 38.6616 20.2574 39.005C20.3139 39.1493 20.3381 39.6508 20.322 40.2209C20.2897 41.1826 20.2897 41.1895 20.0396 41.4574C19.6443 41.8833 19.2167 42.0207 18.297 42.0276H17.5064V42.7695C17.5064 43.2572 17.4741 43.5388 17.4096 43.5938C17.3451 43.6487 17.0385 43.6762 16.5706 43.6762C15.8849 43.6762 15.8122 43.6625 15.6993 43.5251C15.5864 43.3946 15.5702 43.0168 15.5702 40.846C15.5702 38.4074 15.5783 38.3112 15.7316 38.1807C15.8849 38.0502 15.9978 38.0433 17.3531 38.0433C18.4664 38.0433 18.9021 38.0708 19.2006 38.1532ZM24.0491 38.1532C24.6542 38.2837 24.9285 38.4486 25.1624 38.799C25.3319 39.0531 25.3319 39.1218 25.3157 41.2101L25.2915 43.3602L25.0172 43.5182C24.7591 43.6694 24.6623 43.6762 23.4844 43.6762C21.7176 43.6762 21.169 43.5114 20.8141 42.8862C20.5882 42.4878 20.5156 41.7116 20.6527 41.1002C20.8383 40.2553 21.3707 39.9324 22.6938 39.8568C23.4441 39.8088 23.4763 39.8019 23.4763 39.6508C23.4763 39.4859 23.4683 39.4859 22.5486 39.4859C21.3788 39.4859 21.2981 39.4378 21.2981 38.7646C21.2981 38.0914 21.3788 38.0433 22.5809 38.0433C23.202 38.0433 23.7264 38.0845 24.0491 38.1532ZM27.6634 38.1326C27.7118 38.1876 27.7602 38.6478 27.7682 39.2867L27.7924 40.3446L28.2604 40.3652L28.7202 40.3858V39.3416C28.7202 38.0227 28.7041 38.0433 29.6883 38.0433C30.1159 38.0433 30.4224 38.0777 30.4789 38.1258C30.5515 38.1876 30.5757 38.7852 30.5757 40.3927C30.5757 42.4123 30.5677 42.6046 30.4224 42.8382C30.0191 43.5114 29.5027 43.6762 27.857 43.6762C26.6791 43.6762 26.6227 43.6694 26.5097 43.5251C26.3564 43.3396 26.3403 42.6664 26.4694 42.4123C26.5662 42.2405 26.5823 42.2405 27.623 42.2199C28.6315 42.1993 28.6799 42.1924 28.7041 42.055C28.7283 41.9108 28.6879 41.9039 27.9377 41.8764C26.9938 41.849 26.5743 41.6841 26.1789 41.217L25.9369 40.9147L25.9127 39.6095C25.8724 37.9952 25.8482 38.0433 26.8647 38.0433C27.3487 38.0433 27.5988 38.0708 27.6634 38.1326ZM37.2879 38.1738C37.3927 38.3044 37.4008 38.3044 37.7154 38.1738C38.143 37.9952 38.9094 38.0021 39.3451 38.1807C39.5306 38.2563 39.7 38.3456 39.7323 38.3868C39.7565 38.428 39.9582 38.3662 40.2083 38.2494C41.2006 37.7685 42.4833 38.1258 42.927 38.9913C43.0642 39.2661 43.0803 39.4859 43.0803 41.3612C43.0803 43.8342 43.1448 43.6762 42.1283 43.6762C41.0796 43.6762 41.1441 43.8136 41.1441 41.5467C41.1441 40.166 41.1199 39.6301 41.0473 39.5683C40.9102 39.4515 40.4584 39.4653 40.3374 39.5889C40.2648 39.6576 40.2486 40.1728 40.2567 41.5192C40.2648 43.793 40.3212 43.6762 39.2805 43.6762C38.7561 43.6762 38.5222 43.6487 38.4334 43.58C38.3447 43.4976 38.3205 43.1335 38.3205 41.5673C38.3205 40.166 38.2963 39.6301 38.2237 39.5683C38.0865 39.4515 37.6751 39.4653 37.4976 39.6027C37.3605 39.7057 37.3524 39.8568 37.3524 41.6154C37.3524 42.9962 37.3282 43.532 37.2556 43.5938C37.1023 43.7243 35.7792 43.7037 35.626 43.5663C35.513 43.477 35.4969 43.1335 35.4969 40.8598C35.4969 38.586 35.513 38.2425 35.626 38.1532C35.7228 38.0708 35.9245 38.0433 36.465 38.0433C37.0781 38.0433 37.1991 38.0639 37.2879 38.1738Z" fill="black"/>
                      <path d="M21.6448 16.1986C21.1768 16.4391 21.0316 16.9131 21.3221 17.229C21.6286 17.5656 22.0885 17.6549 22.508 17.4695C23.1614 17.181 23.1534 16.4803 22.4918 16.1918C22.1127 16.0269 21.9675 16.0269 21.6448 16.1986Z" fill="black"/>
                      <path d="M35.6826 16.1986C35.4163 16.336 35.1743 16.652 35.1743 16.865C35.1824 17.2016 35.6745 17.5725 36.1101 17.5725C37.0137 17.5725 37.3364 16.5421 36.5458 16.1986C36.1505 16.0269 36.0053 16.0269 35.6826 16.1986Z" fill="black"/>
                      <path d="M21.0801 22.2301C21.2657 24.4695 22.5646 26.5578 24.5653 27.8424C25.6867 28.5568 26.679 28.9071 28.123 29.0926C28.9943 29.2025 29.0992 29.2025 29.9705 29.0926C32.6086 28.756 34.698 27.4371 35.9969 25.2801C36.2551 24.8473 36.4971 24.2978 36.7875 23.446C36.8521 23.2674 37.0295 21.9897 37.0295 21.7218C37.0295 21.6462 36.8601 21.6256 36.2309 21.6256H35.4402L35.3757 22.1889C35.1256 24.7168 33.141 26.8463 30.4707 27.4577C29.6639 27.6432 28.4296 27.65 27.6309 27.4714C25.8561 27.0799 24.3475 26.0083 23.4843 24.5107C23.339 24.2634 23.1938 24.0161 23.1535 23.9543C22.9921 23.6933 22.734 22.7041 22.6936 22.1889L22.6452 21.6256H21.8385H21.0317L21.0801 22.2301Z" fill="black"/>
                      <path d="M17.5063 40.0698V40.585H17.9017C18.4018 40.585 18.4906 40.4957 18.4583 39.9873L18.4341 39.5889L17.9743 39.5683L17.5063 39.5477V40.0698Z" fill="black"/>
                      <path d="M22.5968 41.2993C22.5403 41.3611 22.508 41.5603 22.5242 41.8351L22.5484 42.2679L23.0163 42.2885L23.4842 42.3091L23.46 41.7733L23.4358 41.2375L23.0647 41.2168C22.8146 41.2031 22.6613 41.2306 22.5968 41.2993Z" fill="black"/>
                    </svg>
                  {%if paytm_url != blank%}</a>{%endif%}
                </div>
              </div>
              <div class="support-info">
                <div>
                  <p><small>
                    {%if product.metafields.info.flyer-url != blank%}
                      <a class="support-info__flyer" href="{{ product.metafields.info.flyer-url }}" target="_blank"><strong>Download Flyer</strong></a>
                      {%endif%}
                    <a class="support-info__enquiry" href="/pages/corporate-enquiry"><strong>Corporate Enquiry</strong></a></small>
                  </p>
                  <p><small>{{ product.metafields.info.support-faq }}</small></p>
                  <p><small>Need Assistance? Call us on <strong>1800-419-4898</strong></small></p>
                </div>
              </div>
      		</div>
            {%- endif -%}
          </div>
        </div>

        {%- unless image_position == 'left' -%}
          <div class="grid__item {{ product_image_width }} product-single__sticky">
            {%- render 'product-images',
              section_id: section_id,
              product: product,
              isModal: isModal,
              image_position: image_position,
              product_zoom_size: product_zoom_size,
              product_image_size: product_image_size,
              thumbnail_arrows: thumbnail_arrows,
              thumbnail_position: thumbnail_position,
              video_looping: video_looping,
              video_style: video_style
            -%}
          </div>
        {%- endunless -%}
      </div>

      {%- if description_style == 'full' -%}
        {%- render 'product-additional-content', product: product, section_id: section_id -%}
      {%- endif -%}
           
    </div>
  </div>
</div>
