.page {
    &__banner {
        padding: 120px 80px 80px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;

        &-title {
            padding: 40px;
            text-align: center;
            font-size: 24px;
            font-weight: 700;
            max-width: 400px;

            @media only screen and (max-width: 1024px) {
                padding: 20px;
            }
        }

        &-image {
            text-align: right;
            padding: 40px;
        }

        @media only screen and (max-width: 1024px) {
            padding: 80px 0 0;

            &-image {
                text-align: center;
                padding: 0;
            }
        }
    }

    &__form {
        .section-header {
            text-align: left;
            margin-bottom: 10px;

            &__title {
                font-weight: 400;
            }

            @media only screen and (max-width: 1024px) {
                text-align: center;
            }
        }

        &-content {
            font-size: 16px;
        }

        .form-vertical {

            input,
            select,
            textarea {
                border-color: #333;
            }

            select {
                width: 100%;
            }

            .checkbox {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 10px;

                input {
                    margin-bottom: 0;
                }

                label {
                    margin-bottom: 0;
                    font-weight: 400;
                    ;
                }
            }

            .disclaimer {
                padding: 20px 0;
                font-size: 14px;
            }
        }

        &-footer {
            padding: 40px 0;
            text-align: center;

            .btn {
                background-color: #fb8536 !important;
            }
        }

        @media only screen and (max-width: 1024px) {
            .grid__item {
                padding-left: 0;
            }
        }
    }
}

.news-section {
    padding: 70px 0;
    background-color: #E6E9EE;

    .section--divider {
        padding-top: 0;
        padding-bottom: 40px;
    }

    .logo {

        &-list {
            padding: 0 40px !important;

            .section-header__title {
                font-weight: 700;
            }
        }

        &-bar {
            padding: 0 80px;

            .slick-arrow {
                color: #000;

                .icon {
                    height: 26px;
                    width: 12px;
                }
            }

            .slick-list {
                border-top: solid 1px #000;
                border-bottom: solid 1px #000;
            }

            &__item {
                margin: 0 !important;
            }
        }
    }
}