.site-footer {
    padding: 0 !important;
    position: relative;

    .footer__home {
        position: absolute;
        left: 10px;
        bottom: 0px;

        svg {
            width: 30px;
        }
    }

    .page-width {
        padding: 0 !important;
    }

    .footer__collapsible {
        font-size: 14px;
    }

    .footer__clear {
        height: 0px;
    }    

    .grid {
        padding: 60px 20px 40px;

        &:first-child {
            background-color: #52585F;
        }

        @media only screen and (max-width: 1024px) {
            padding: 10px 20px;

            .grid__item {
                padding-left: 0;

                &:after {
                    display: none;
                }
            }
        }
    }

    &__linklist {
        a {
            padding: 0 0 5px 0;
        }
    }

    [data-type="custom"] {
        text-align: justify;
    }
    
    [data-type="newsletter"] {
        text-align: center;

        @media only screen and (max-width: 1024px) {
            margin-bottom: 30px;
        }

        .footer__title {
            margin-bottom: 20px;
        }
    }

    [data-type="custom-html"] {
        h2, h3 {
            font-weight: 400;
            font-size: 28px;
        }
    }

    .footer__designed {
        padding: 0px 20px;
        text-align: center;
    }

    .footer__certified {
        text-align: center;

        &-logo {
            display: flex;
            justify-content: center;

            img {
                max-width: 100px;
                max-height: 100px;
                margin-right: 10px;
            }
        }
    }
    

    .footer__social {
        padding: 0 0 20px 0;

        li {
            margin: 0 25px 0 0;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .footer__market-place {
        li {
            margin: 0;

            &:first-child {
                margin-right: 10px;
            }

            svg {
                max-height: 30px;
                max-width: 80px;

                path {
                    fill: #fff;
                }
            }

            img {
                height: 30px;
            }
        }
    }

    .footer__newsletter-wrapper {
        margin-top: 20px;
    }

    @media only screen and (max-width: 1024px) {
        .footer__logo {
            margin: 0;
            text-align: right;
        }
    }
}