.js-search-header {
    display: none;
}

.site-header {
    padding: 20px 0px 10px 0px;
    background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, transparent) !important;

    .page-width {
        padding: 0 20px !important;
    }

    .site-header__logo {
        margin: 0 !important;

        img {
            max-width: 80%;
        }
    }

    .site-navigation {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
}

.site-header--stuck
{
    .site-nav__link {
        color: #fff !important;
    }
}

@media only screen and (max-width: 1024px) {
    .site-header {
        padding-top: 10px;
    }
}