.site-nav--is-megamenu.site-nav__item {
    position: relative;
}

.megamenu {
    width: 600px;
    left: auto;
    right: -230px;

    .grid {
        display: flex;
    }

    .grid__item {
        padding-left: 0;
    }
      

    .grid__item .h5 {
        text-align: center;
        font-weight: 700;
    }
}

.megamenu__product {
    text-align: center;
    overflow: hidden;
    height: 150px;
}


.megamenu__product-image {
    height: 150px;
    width: 150px;
    max-width: 150px;
    transition: transform .5s ease;
    filter: brightness(90%);

}

.megamenu__product-image:hover {
    filter: brightness(100%);
    transform: scale(1.02);
}

.mobile-nav__child-item {
    display: block;
}

@media only screen and (max-width: 1024px) {
    .megamenu__product {
        padding: 10px 0;
        height: auto;
        width: auto;
    }
}