.page-coming-soon {
    .main-content {
        min-height: auto !important;
    }

    .coming-soon__banner {
        height: 100vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom center;

        @media only screen and (max-width: 1024px) {
            height: 60vh !important;
        }
    }

    .coming-soon.scarves {
        background: #995C41;
    }

    .coming-soon.overalls {
        background: #323E3D;
    }

    .coming-soon.lock {
        background: #52585f;

        .coming-soon__banner {
            background-size: cover;
            background-position: top left;

            @media only screen and (max-width: 1024px) {
                background-size: 150%;
            }
        }
    }

    .coming-soon.gps {
        background: #52585f;

        .coming-soon__banner {
            background-size: cover;
            background-position: top left;

            @media only screen and (max-width: 1024px) {
                background-size: 150%;
            }
        }
    }
    
}