.customize {
    &__intro {
        display: flex;
        justify-content: center;
        text-align: center;
        letter-spacing: normal;

        &-title {
            margin-bottom: 40px;

            h2 {
                color: #2C6975;
                font-size: 60px;
                line-height: 1;
                padding: 0;
                margin: 0;
            }

            p {
                font-size: 24px;
            }
        }

        &-subtitle {
            margin-bottom: 120px;

            h2 {
                color: #56c596;
                font-size: 48px;
                line-height: 1;
                padding: 0;
                margin: 0;
            }
        }

        &-footer {
            button {
                color: #fff;
                background: #000;
                padding: 15px 20px;
                border-radius: 15px;
                font-weight: 400;
                letter-spacing: 0;

                &:hover {
                    background: #000 !important;
                }
            }

            &-exit {
                margin-top: 60px;
            }
        }
    }

    &__wizard {
        max-width: 1440px;
        margin: 0 auto;

        @media only screen and (max-width: 1024px) {
            max-width: 720px;

            .grid--small .grid__item {
                padding-left: 0;
            }
        }

        &-nav {
            display: flex;
            justify-content: space-between;

            margin-top: 60px;

            a {
                cursor: pointer;
            }

            &:after {
                content: none;
            }
        }

        &-step {
            &-preview {
                .column {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @media only screen and (max-width: 1024px) {
                        width: auto;
                    }
                }
            }
        }
    }

    .row {
        display: flex;
        align-items: center;

        @media only screen and (max-width: 1024px) {
            flex-direction: column;
        }

        .column {
            padding: 20px;

            @media only screen and (max-width: 1024px) {
                text-align: center;
            }

            @media only screen and (max-width: 576px) {
                padding: 20px 0;
            }

            h3 {
                font-weight: 400;
            }
        }
    }

    .content {
        &__title {
            color: #2C6975;
            font-size: 48px;
            line-height: 1;
            margin-bottom: 20px;

            @media only screen and (max-width: 1024px) {
                text-align: center;
            }
        }

        &__subtitle {
            text-transform: uppercase;
            letter-spacing: 0;
            font-size: 1.2em;
            font-weight: 400;
            padding-bottom: 10px;

            @media only screen and (max-width: 1024px) {
                text-align: center;
            }
        }

        &__text {
            padding-bottom: 20px;

            @media only screen and (max-width: 1024px) {
                text-align: center;
            }
        }
    }

    &-logo {
        padding-left: 100px;

        @media only screen and (max-width: 1024px) {
            padding: 0;
        }

        &__container {
            border: solid 1px #ccc;

            height: 240px;
            margin: 40px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #E6E6E6;

            .logo__img {
                max-height: 50px;
                max-width: 200px;
            }
        }

        &__actions {
            input {
                display: none;
            }

            a {
                font-size: 12px;
                text-decoration: underline;
                cursor: pointer;
            }

            .btn {
                color: #fff;
                background: #000;
                padding: 5px 20px;
                border-radius: 5px;
                font-weight: 400;
                letter-spacing: 0;

                &:hover {
                    background: #000 !important;
                }
            }

            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &-image {
        @media only screen and (max-width: 576px) {
            max-width: 100vw;
        }

        &__container {
            border: solid 1px #ccc;
            position: relative;
            height: 482px;

            @media only screen and (max-width: 576px) {
                margin-left: -200px;
                overflow: hidden;
                border: 0;
            }

            // img {
            //     height: 480px;
            //     width: 720px;
            // }
        }

        &__mask {
            position: absolute;
            top: 166px;
            left: 323px;
            z-index: 200;
            mix-blend-mode: multiply;

            &.male {
                top: 199px;
                left: 306px;
            }
        }

        &__portrait {
            z-index: 100;
            height: 480px;
            width: 720px;
            max-width: none;
        }

        &__logo {
            position: absolute;
            left: 440px;
            top: 295px;
            z-index: 100;
            transform: rotate(-10deg) skewy(-25deg);
            width: 80px;
            height: 25px;
            z-index: 99999;

            img {
                object-fit: contain;
                object-position: right;
                height: 100%;
                width: 100%;
            }

            &.male {
                top: 350px;
                left: 450px;

                transform: rotate(-15deg) skewy(-25deg);
            }
        }

        &__actions {
            display: flex;
            justify-content: space-between;

            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 10px;
            font-weight: 700;

            @media only screen and (max-width: 576px) {
                padding-left: 220px;
                justify-content: space-around;
            }

            a {
                cursor: pointer;
                opacity: 0.6;
            }
        }

        &__colors {
            ul {
                display: flex;
                list-style: none;
                margin: 0 0 30px 0;

                @media only screen and (max-width: 1024px) {
                    justify-content: center;
                }

                li {
                    height: 25px;
                    width: 25px;
                    border-radius: 5px;

                    margin-right: 30px;

                    span {
                        display: block;
                        height: 100%;
                        width: 100%;
                        border-radius: 5px;
                    }

                    &.selected {
                        border: solid 2px #2F2F2F;
                        padding: 1px;
                    }
                }
            }

            .color-picker {
                label {
                    letter-spacing: 0;
                }

                input {
                    padding: 0;
                    border-radius: 5px;
                    width: 25px;
                    height: 25px;
                    border: none;

                    &.selected {
                        border: solid 2px #2F2F2F;
                        background: none !important;
                    }

                    &::-webkit-color-swatch-wrapper {
                        padding: 2px;
                    }

                    &:not(.selected)::-webkit-color-swatch {
                        background-color: transparent !important;
                        border: 0;
                    }
                }
            }
        }
    }

    &-preview {
        .content__title {
            margin-bottom: 100px;
        }

        &__actions {
            justify-content: space-between;

            @media only screen and (max-width: 1024px) {
                flex-direction: row;
            }

        }

        &__image {
            position: relative;

            @media only screen and (max-width: 576px) {
                margin-left: -200px;
                overflow: hidden;

                &-container {
                    max-width: 100vw;
                }
            }

            &-main {
                height: 480px;
                width: 720px;
                z-index: 100;
                max-width: none;
            }

            &-logo {
                position: absolute;
                left: 240px;
                top: 150px;
                z-index: 100;
                width: 80px;
                height: 25px;

                img {
                    object-fit: contain;
                    object-position: right;
                    height: 100%;
                    width: 100%;
                }

                &.design2 {
                    left: 440px;
                    top: 295px;
                }
            }

            &-mask-1 {
                position: absolute;
                top: 28px;
                left: 135px;
                mix-blend-mode: multiply;
            }

            &-mask-2 {
                position: absolute;
                top: 176px;
                left: 337px;
                mix-blend-mode: multiply;
            }
        }
    }
}