.product-gps {
    --product-color: #52585f;

    .specification {
        padding: 100px 0;
    }

    .open-gps {
        padding: 80px 20px;
        line-height: 1;

        .h2 {
            font-size: 72px;
            margin: 0;
            line-height: 1;
        }

        .enlarge-text {
            font-size: 48px;
            color: #4F575F;
        }

    }

    .narrow-section {
        .featured-row__subtext {
            font-size: 14px;
        }
    }

    @media only screen and (max-width: 1024px) {
        .product-single__background {
            background-position: bottom center;
            min-height: 380px;
        }

        .open-gps {
            .h2 {
                font-size: 32px;
                line-height: 1.1;
            }

            .enlarge-text {
                font-size: 32px;
                line-height: 1.1;
            }
        }
    }

    @media only screen and (max-width: 576px) {
        .product-single__background {
            background-position: bottom center;
            min-height: 480px;
        }
    }
}