.template-index {
    .header-wrapper--sticky {
        background: none;
    }

    .hero__text-shadow {
        background-color: #e8e8e8;
        color: #000;
        border-radius: 10px;
        padding: 20px 40px;
        text-align: center;

        .h1 {
            font-size: 40px !important;
        }
    }

    .background-media-text {
        top: 0;
        bottom: 0;

        .image-fit {
            position: static;
        }

        &__text {
            background-color: transparent !important;
            color: #fff !important;

            a {
                color: #fff !important;
            }

            @media only screen and (max-width: 1024px) {
                margin-top: 120px;
            }
        }

        &__container {
            top: auto;
        }

        &__inner {
            height: 100%;
        }

        &__aligner {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: flex-start;

            margin: 0 60px;

            @media only screen and (max-width: 1024px) {
                display: block;
            }

            @media only screen and (max-width: 576px) {
                margin: 0 20px;
            }
        }

        &--right {
            justify-content: flex-end;
        }


    }

    .uvsafe,
    .mygps {
        .background-media-text__text {
            color: #52585f !important;

            a {
                color: #52585f !important;
            }
        }
    }

    .index-section--flush {
        min-height: 100vh;
        position: relative;

        .background-media-text {
            min-height: 100%;
        }
    }

    @media only screen and (max-width: 1024px) {
        .index-section--flush {
            min-height: auto;
        }

        .background-media-text__inner .animation-cropper {
            display: block;
        }

        .background-media-text__img {
            position: absolute;
            height: 100%;
            margin-top: 20px;
        }

        .uvone .background-media-text__img {
            height: 150%;
            left: 10%;
        }

        .mymask .background-media-text__img {
            height: 150%;
            left: 30%;
            right: -20%;
        }

        .mymask .background-media-text__text {
            margin-top: 160px;
        }

        .uvsafe .background-media-text__img {
            height: 160%;
            right: 30%;
            left: -20%;
        }

        .scarves .background-media-text__img {
            height: 170%;
            left: 10%;
            right: -10%;
        }

        .scarves {
            .background-media-text__text {
                margin-top: 200px;
            }
        }

        .overalls .background-media-text__img {
            height: 150%;
            left: 0%;
            right: 20%;
        }

        .lock .background-media-text__img {
            height: 150%;
            left: 20%;
            right: 0%;
        }

        .mygps .background-media-text__img {
            height: 150%;
            left: 0;
            right: 20%;
        }

        .overalls,
        .mygps,
        .lock {
            .background-media-text__text {
                margin-top: 160px;
            }
        }
    }

    @media only screen and (min-width: 1025px) and (max-width: 1366px) {
        .uvone,
        .uvsafe,
        .mymask {
            .background-media-text__container {
                height: 100%;
                top: 20%;
            }
        }
    }

    @media only screen and (max-width: 768px) {

        .uvone .background-media-text__img {
            left: -20%;
        }

        .mymask .animation-cropper {
            margin-top: 20px;
        }

        .scarves .background-media-text__img {
            height: 140%;
        }

        .scarves {
            .background-media-text__text {
                margin-top: 160px;
            }
        }
    }

    @media only screen and (max-width: 576px) {
        .background-media-text__text {
            margin-top: 30px !important;
        }

        .uvone .background-media-text__img {
            height: 130%;
            margin-top: 0;
        }

        .uvsafe .background-media-text__img {
            left: -40%;
            right: 10%;
            height: 120%;
            margin-top: 0;
        }

        .overalls .background-media-text__img {
            height: 100%;
            left: -10%;
            right: 10%;
        }

        .mygps .background-media-text__img {
            height: 100%;
            left: -30%;
        }

        .mymask .background-media-text__img {
            right: -30%;
            left: 10%;
            margin-top: 0;
            height: 120%;
        }

        .scarves .background-media-text__img {
            height: 100%;
            right: -10%;
            left: 10%;
        }

        .lock .background-media-text__img {
            height: 100%;
            right: -30%;
        }
    }
}