.product-mask {
    --product-color: #2C6975;

    .page-content--product {
        background: #E6E9EE;

        .grid {
            padding-top: 100px;
            padding-bottom: 50px;
        }
    }

    .product-single__meta {
        background: #fff;
        margin: 20px 0;
    }

    .filters {
        color: #fff;

        .feature-row__item {
            font-size: 48px;
            line-height: 1;
            font-weight: 900;

            padding: 20px;
        }

        .feature-row__item:nth-child(2) {
            background-color: #fff !important;
            padding: 120px;
        }
    }

    .feature-section {
        color: #fff;
        text-transform: uppercase;
    }

    .mask-subscribe {
        .btn {
            background-color: #000;

            &:hover {
                background-color: #000 !important;
            }
        }
    }

    .subscribe__modal {
        h2 {
            font-weight: 400;
        }

        .btn {
            margin-top: 20px;

            background-color: #000;

            &:hover {
                background-color: #000 !important;
            }
        }

        .grid__item {
            padding: 20px;
        }
    }

    .mask-section-header {

        .h3,
        .h5 {
            font-size: 48px;
            font-weight: 900;
            letter-spacing: 1px;
            margin: 0;
            line-height: 1;
        }

        .h3 {
            color: #56C596;
        }

        .featured-row__subtext {
            font-weight: 900;
            padding-left: 10px;
        }
    }

    .mask-banner {

        .h3,
        .h5 {
            font-size: 48px;
            font-weight: 700;
            letter-spacing: 1px;
            line-height: 1;
            color: #00FF93;
        }

        .h5 {
            color: #000;
            margin: 0;
            font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
        }

        .btn {
            background-color: transparent;
            border: solid 1px #fff;
            border-radius: 5px;
            padding: 5px 30px;
            font-weight: 400;
            text-transform: lowercase;
            letter-spacing: normal;
        }
    }

    .proper-fit {
        .h3 {
            font-size: 42px;
            text-align: center;
            padding-top: 20px;
        }
    }

    .test-report {
        padding: 80px;

        @media only screen and (max-width: 576px) {
            padding: 40px;
        }

        .grid__item:first-child {
            padding-top: 80px;
        }
    }

    .instructions {
        background-color: #fff !important;
        padding: 80px 40px !important;
        color: #000;

        @media only screen and (max-width: 576px) {
            padding: 20px !important;
        }

        .instruction-item {
            padding-bottom: 20px;
            font-size: 20px;
            display: flex;
            align-items: center;
            text-align: left;

            @media only screen and (max-width: 576px) {
                font-size: 14px;
            }

            img {
                height: 100px !important;
                width: 100px !important;
                margin-right: 20px;

                @media only screen and (max-width: 576px) {
                    height: 70px !important;
                    width: 70px !important;
                }
            }
        }

        .grid__item {
            padding: 40px;

            @media only screen and (max-width: 576px) {
                padding: 0;
            }
        }

        h2 {
            max-width: 500px;
        }
    }

    @media only screen and (max-width: 1024px) {
        .page-content--product {
            .grid {
                height: auto;
                padding: 0;
            }
        }

        .mask-section-header {

            .h3,
            .h5 {
                font-size: 36px;
            }

            .featured-row__subtext {
                text-align: center;
            }
        }

        .mask-banner {

            .h3,
            .h5 {
                font-size: 36px;
            }

            .image-wrap {
                padding-bottom: 110% !important;
            }
        }
    }
}

.product-mask-1 {
    .site-header {
        background: #56C596 !important;
    }

    @media only screen and (max-width: 1024px) {
        .filters .feature-row__item:nth-child(2) {
            padding: 20px;
        }

        .breathe__content {
            width: 100%;
        }
    }
}

.product-mask-3 {
    --product-color: #585858;

    .site-header {
        background: #FFC916 !important;
    }

    .filters {
        color: #000;

        @media only screen and (max-width: 576px) {
            .h5 {
                text-align: left;
                font-size: 24px;
            }
        }

        .featured-row__subtext {
            font-size: 18px;
            font-weight: 400;
        }

        .feature-row__item:nth-child(2) {
            padding: 20px;
        }
    }

    .instructions .instruction-item {
        align-items: flex-start;
    }

    .hero__text-content {
        &.horizontal-right {
            padding-right: 40px;

            @media only screen and (max-width: 576px) {
                padding-right: 0;
                text-align: center;
            }

            .btn--inverse {
                border: 0;
                animation: none !important;
                opacity: 1 !important;
            }

            .animation-contents {
                animation: none !important;
                opacity: 1 !important;
            }            
        }
    }
}

.product-mask-5 {
    .site-header {
        background: #BF546E !important;
    }
}