.product-uvone {
    --product-color: #ff6200;

    .site-header {
        background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, transparent) !important;
    }

    .product-section {
        background-color: #c2c1c1;
    }

    .page-content--product {
        .grid {
            padding-top: 50px;
        }
    }

    .specification {
        padding: 150px 0;

        .grid__item:last-child {
            margin-top: 50px;
        }
    }

    .grab-launch {
        .feature-row__text {
            @media only screen and (min-width: 1025px) {
                max-width: 400px;
            }

            .h3,
            .h5,
            strong {
                padding: 0;
                margin: 0;
                line-height: 1;
                font-weight: 900;
                letter-spacing: 0;
            }

            .h3 {
                font-size: 86px;
                color: #fff;
            }

            .h5 {
                font-size: 56px;
            }

            strong {
                font-size: 38px;
                padding-bottom: 20px;
            }

            @media only screen and (max-width: 576px) {
                .h3 {
                    font-size: 56px;
                }

                .h5 {
                    font-size: 36px;
                }

                strong {
                    font-size: 24px;
                }
            }

            @media only screen and (max-width: 1024px) {
                p {
                    text-align: center !important;
                }
            }
        }
    }

    .travel-buddy {

        .h3,
        .h5 {
            font-size: 48px;
            font-weight: 900;
            letter-spacing: 1px;
            margin: 0;
            line-height: 1.2;
        }

        .h3 {
            color: #fff;
        }

        .featured-row__subtext {
            font-weight: 900;
            padding-left: 10px;
        }
    }

    .stunning {
        .background-media-text__text {
            background: transparent;
            color: #fff;
            font-size: 14px;
            padding: 0;
        }

        .background-media-text__aligner {
            margin: 20px;
        }
    }

    @media only screen and (max-width: 1024px) {
        .test-report,
        .travel-buddy {
            padding: 40px;
        }

        .travel-buddy {

            .h3,
            .h5 {
                font-size: 36px;
            }

            .featured-row__subtext {
                text-align: center;
            }
        }

    }
}