.product-uvsafe {
    --product-color: #F6A800;

    .site-header {
        background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, transparent) !important;
    }

    .page-content--product {
        background-color: transparent;

        .grid {
            padding-top: 50px;
        }
    }

    .product-single__meta {
        background: #E6E6E6;
    }    

    .video-banner {
        .feature-row__text {
            padding: 20px !important;

            .h5 {
                font-size: 42px;
                letter-spacing: 0;
                line-height: 1;
                font-weight: 900;
            }
        }
    }

    .specification {
        .grid {
            display: flex;
            align-items: center;
            background-color: #E4E4E8;
        }

        .grid__item:nth-child(1) {
            width: 60%;

            .image-wrap {
                margin-bottom: 0px !important;
            }
        }

        .grid__item:nth-child(2) {
            width: 40%;
        }
    }

    .place-it {
        padding: 40px 60px;
        background-color: #fff;

        h2 {
            text-align: center;
        }
    }

    .test-report {
        .btn {
            background: #000 !important;
        }
    }

    .safety {
        padding: 80px 60px;
        background-color: #8E8E8E;
        text-align: center;
        margin: 0 !important;
        color: #fff;

        font-size: 60px;
        font-weight: 400;
        line-height: 1;
    }

    .safety__content {
        width: 60%;
        margin: 0 auto;
    }

    .one-touch {
        background-color: #E6E9EE;
        padding: 120px 0 !important;

        h2 {
            font-size: 48px;
            font-weight: 700;
            line-height: 1;

            span {
                color: var(--product-color);
            }
        }

        .hash-tag {
            background-color: var(--product-color);
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
        }
    }

    @media only screen and (max-width: 576px) {
        .product-single__image {
            height: calc(100vh/2 + 30px);
            background-size: 140%;
        }
    }

    @media only screen and (max-width: 1024px) {
        .specification {
            .grid {
                flex-direction: column;

                .grid__item {
                    width: 100%;
                }

                .grid__item:nth-child(2) {
                    img {
                        margin-left: -30px;
                    }
                }
            }
        }

        .place-it {
            padding: 20px 0px;

            h2 {
                margin: 0;
            }
        }

        .safety {
            padding-left: 0;
            padding-right: 0;

            .safety__content {
                width: 80%;
            }
        }

        .feature-section {
            .feature-row__item {
                order: 2;
            }

            .feature-row__text {
                order: 1;
            }
        }
    }
}