<div class="page-section">
  {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'page-banner'-%}
          {%- render 'page-banner', block: block -%}
      {%- endcase -%}
  {%- endfor -%}
  <div class="page-width page-content">

    {%- render 'breadcrumbs' -%}
  
    <div class="grid">
      <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">
  
        {% if page.metafields.layout.hide-header == blank %}
        <header class="section-header">
          <h1 class="section-header__title">{{ page.title }}</h1>
        </header>
        {%- endif -%}
        
        <div class="rte rte--nomargin">
          {{ page.content }}
        </div>
  
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Page",
    "blocks": [
    {
      "type": "page-banner",
      "name": "Page Banner",
      "settings": [         
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "bg_image",
            "label": "Background Image"
          }
        ]
      }
    ]

  }
{% endschema %}
