{%- render 'page-banner', block: section -%}

<div class="page-width page-content customize">

    <div class="customize__intro">
        <div class="customize__intro-content">
            <div class="customize__intro-subtitle" style="display: none;">
                <h2>THANK YOU!</h2>
                <p>We look forward to being your official protectors!</p>
            </div>
            <div class="customize__intro-title">
                <h2 class="content__title-1">MAKE YOUR<br /> CUSTOM SERIES 1</h2>
                <p>Click 'Customize My Mask' to start customizing your Series 1.</p>
            </div>
            <div class="customize__intro-footer rte">
                <button>CUSTOMIZE MY MASK</button>
                <div class="customize__intro-footer-exit">
                    <a href="/">EXIT</a>
                </div>
            </div>
        </div>
    </div>

    <div class="customize__wizard" style="display: none;">
        <div class="customize__wizard-step" data-step="1">
            <div class="grid grid--small">
                <div class="grid__item medium-up--one-half">
                    <h2 class="content__title">STEP 1</h2>
                    <div class="content__text">
                        <h4>Let’s get to know you better!</h4>
                        <p>Upload your Organization’s logo along with other particulars <i>if needed</i> on your mask; like tagline, motto, vision statement or location based on the details you want printed on your mask.</p>
                        <p>Kindly make sure the uploaded image does not exceed a size of 3 MB.</p>
                        <p>Upload the logo as a PNG image with a transparent background for best results of your fully customized Series-1 Mask.</p>
                    </div>
                </div>
                <div class="grid__item medium-up--one-half">
                    <div class="customize-logo">
                        <div class="customize-logo__container">
                            <img class="logo__img" />
                        </div>
                        <div class="customize-logo__actions">
                            <a id="link-logo">UPLOAD ANOTHER LOGO</a>
                            <input type="file" id="upload-logo" />
                            <img src="" id="original-logo" style="display: none;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="customize__wizard-step" data-step="2" style="display: none;">
            {% render 'customize-mask-color', section_number: 1 %}
        </div>
        <div class="customize__wizard-step" data-step="3" style="display: none;">
            {% render 'customize-mask-color', section_number: 2 %}
        </div>

        <div class="customize__wizard-step customize__wizard-step-preview" data-step="4" style="display: none;">
            <div class="row">
                <div class="column">
                    <div class="customize-preview">
                        <h2 class="content__title">Hurray! We are almost done.</h2>
                        <div class="content__text">
                            <p>Your Mask Series 1 is ready for preview!</p>
                            <p>See how your custom-built mask looks and feel free to download it.</p>
                            <p>If you’re happy with what you see, we’re now officially committed to serving your business with the best safety there is!</p>
                        </div>
                        <div class="customize-logo__actions customize-preview__actions">
                            <button class="customize-preview__action btn" data-action="preview" data-url="{{ "flyer.html" | asset_url }}">PREVIEW</button>
                            <button class="customize-preview__action btn" data-action="download" data-url="{{ "flyer.html" | asset_url }}">DOWNLOAD</button>
                            <button class="customize-preview__action btn" data-action="email" data-url="{{ "flyer.html" | asset_url }}">EMAIL</button>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="customize-preview__image-container">
                        <div class="customize-preview__image">
                            <svg class="customize-preview__image-mask-1 design1-mask" width="348" height="268" viewBox="0 0 348 268" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M211.285 51.6967C211.885 50.9185 212.733 51.2043 213.005 51.0604C225.989 44.3322 238.624 37.9618 251.656 31.3097C257.377 28.3885 263.302 25.866 269.519 24.0981C270.735 23.7691 271.981 23.5679 273.238 23.4979C276.384 23.2923 279.537 23.0189 282.683 23.0579C286.992 23.0802 291.267 23.8302 295.326 25.276C296.299 25.6296 297.297 26.0099 298.15 26.5793C299.23 27.2967 300.413 27.8292 301.483 28.5178C303.077 29.5457 304.519 30.8346 305.92 32.1276C307.267 33.3562 308.526 34.6778 309.687 36.0827C310.467 37.0644 311.105 38.1508 311.581 39.3101C312.579 41.6721 313.476 44.0772 314.334 46.4926C315.702 50.3409 316.354 54.2877 315.729 58.3785C315.397 60.5411 315.128 62.714 314.735 64.8642C314.606 65.5775 314.77 65.9886 315.293 66.4409C319.882 70.4063 324.605 74.236 328.977 78.4296C332.099 81.4247 334.84 84.8392 337.565 88.2146C339.127 90.149 340.215 92.4595 341.706 94.4577C343.838 97.3569 345.433 100.615 346.415 104.076C346.917 105.784 346.794 107.667 347.067 109.454C347.491 112.215 346.861 114.86 346.039 117.405C345.5 118.961 344.93 120.343 343.807 121.546C341.468 124.071 339.856 127.072 338.229 130.035C337.128 132.037 335.51 133.686 333.823 135.125C332.261 136.463 330.69 137.633 328.932 138.701C328.003 139.262 326.41 139.574 325.328 139.885C316.277 142.481 307.082 144.006 297.807 145.578C290.928 146.744 283.979 147.488 277.054 148.378C273.897 148.789 270.727 149.093 267.559 149.424C267.192 149.437 266.827 149.392 266.474 149.291C265.158 148.997 264.054 148.937 262.723 148.795C261.264 148.641 260.451 148.754 258.978 148.795C258.651 148.795 257.324 148.858 257.145 149.098C255.795 150.549 254.426 151.122 252.599 151.439C247.913 152.261 243.204 152.931 238.536 153.838C236.298 154.274 234.248 155.161 232.069 155.868C227.577 157.333 223.384 158.506 218.735 159.355C215.638 159.902 212.384 161.06 209.846 162.919C202.083 168.887 193.618 174.423 185.611 180.29C180.866 183.768 176.152 187.485 171.62 191.243C168.882 193.519 166.207 195.876 163.529 198.222C160.694 200.703 158.536 203.729 156.438 206.837C147.112 220.66 138.114 234.466 128.698 248.234C125.44 253.017 122.112 257.954 118.688 262.614C116.991 264.923 114.361 266.594 111.646 267.539C110.959 267.78 109.976 267.706 109.252 267.348C107.26 266.37 105.071 264.977 103.088 263.976C101.95 263.406 100.947 262.508 100.439 261.342C100.165 260.754 100.016 260.044 99.6622 259.509C99.3083 258.975 99.0231 258.338 98.6158 257.88C98.0686 257.263 97.4435 257.663 96.9168 257.03C96.5939 256.642 96.3141 255.33 95.9027 255.122C93.3765 253.846 91.0845 252.37 89.1302 250.296C88.8333 250.014 88.4044 249.628 88.0223 249.481C86.391 248.77 84.7621 248.246 83.0938 247.636C79.2296 246.229 75.6851 244.023 72.4734 241.457C71.3378 240.55 69.8612 239.927 68.5713 239.222C58.9892 233.98 50.1415 229.563 40.5524 224.336C38.9911 223.487 36.6808 222.025 35.0824 221.245C32.1078 219.794 29.667 217.624 28.371 214.603C26.9845 211.369 25.4923 208.059 24.4741 204.702C23.6512 202.005 23.0244 198.952 22.6911 196.15C22.325 193.066 22.4655 189.887 22.2454 186.783C22.2063 186.248 21.9642 185.748 21.7487 185.256C19.7698 180.793 17.6413 176.561 15.8269 172.034C14.9465 169.843 14.5194 167.254 13.9167 164.946C13.2707 162.479 12.7467 159.998 12.1974 157.501C11.5515 154.565 10.4801 151.733 10.6055 148.554C10.4928 147.547 10.1239 146.415 9.93056 145.309C9.02954 140.145 8.05799 134.856 7.30713 129.669C6.74964 125.813 6.49961 121.948 6.1355 118.063C5.61161 112.474 5.25715 106.966 4.73464 101.379C4.51041 98.9945 4.22591 96.5267 4.04694 94.138C3.87904 91.577 2.94251 89.3416 1.69097 87.1005C1.26048 86.3605 1.07898 85.2297 1.00326 84.3771C0.927535 83.5246 1.39762 81.9107 1.69097 81.1066C2.21374 79.5613 3.1324 78.996 4.41632 77.9887C5.26798 77.3227 6.69289 74.4666 7.33266 73.56C8.09792 72.4746 7.68095 72.9732 8.55523 71.9947C15.0579 64.7094 20.3578 56.3665 25.7866 48.2979C29.0637 43.426 32.2155 38.8265 35.6534 34.0135C36.4968 32.78 37.3198 31.3917 38.2146 30.1974C39.3605 28.67 40.5872 27.2445 41.7557 25.7357C42.3831 24.9257 42.9634 23.7238 43.595 22.9262C44.3685 21.9395 45.2749 21.1641 46.0874 20.2103C46.4802 19.7481 47.0512 19.1262 47.497 18.7148C49.0542 17.2758 50.436 16.0731 51.9233 14.5622C52.3347 14.151 52.5613 13.4908 52.5346 12.8823C52.4893 11.7846 53.1227 11.1276 54.0628 10.9734C54.9062 10.8336 55.3281 10.2182 55.8712 9.61174C57.8563 7.39367 59.7883 4.76461 61.9586 2.73977C63.9005 0.928722 66.1632 0.37359 68.8992 1.40348C69.1927 1.49275 70.1408 1.75979 70.1408 2.31618C71.7413 3.93194 73.462 5.34108 75.0707 6.94862C77.0784 8.95496 79.2138 11.051 81.2599 13.0189C82.3338 14.0468 83.1708 15.1991 84.2981 16.1755C84.8556 16.6607 85.4526 17.0972 86.0101 17.5783C86.8821 18.3003 87.7941 18.9859 88.5831 19.7976C91.2368 22.6201 94.4439 24.7313 97.6345 26.8651C99.1979 27.9155 101.335 28.5784 102.82 29.7316C108.833 34.398 115.272 37.645 122.036 40.9485C125.669 42.7184 129.138 43.8642 133.079 44.8756C134.05 45.1264 135.453 46.1383 136.416 46.4282C137.475 46.7468 138.249 46.9901 139.304 47.319C140.413 47.6644 141.587 47.9699 142.681 48.3625C143.336 48.5969 143.908 48.9327 144.589 49.1033C145.957 49.4466 147.31 49.8434 148.687 50.1476C152.618 51.0172 156.531 51.9977 160.499 52.6576C164.173 53.262 167.904 53.5456 171.62 53.8704C173.767 54.0575 175.94 54.0102 178.085 54.1397C179.762 54.2405 181.566 54.1993 183.243 54.2343C184.683 54.261 185.763 54.1055 187.203 53.9492C187.463 53.8805 187.665 53.752 187.815 53.5293C188.415 52.7255 189.971 52.344 191.024 52.6894C192.914 53.3061 194.152 52.5503 196.003 52.1803C197.855 51.8103 199.377 51.6169 201.206 51.2202C201.502 51.1564 201.856 50.334 202.134 50.1716C202.545 49.9331 203.149 50.2381 203.561 50.2545C204.851 50.3059 206.12 50.4868 206.889 51.8065C207.075 52.1231 207.636 52.3431 208.045 52.3801C209.068 52.4637 208.86 52.1702 209.885 52.1167C210.123 52.1064 210.901 51.9455 211.285 51.6967ZM297.323 80.225C297.463 79.3246 297.323 79.8942 297.323 79.3793C297.081 79.3567 296.809 79.0874 296.655 78.8613C296.523 78.6701 296.213 78.7769 296.063 78.6597C295.261 78.043 294.597 77.5809 293.758 77.0053C292.398 76.0741 291.228 75.2665 289.823 74.4092C288.535 73.624 287.2 72.9969 285.875 72.2713C285.001 71.7923 284.189 71.1065 283.315 70.6296C282.715 70.3028 281.844 69.6243 281.239 69.2934C279.947 68.5821 278.661 68.3576 277.355 67.6772C276.133 67.0399 275.009 66.0307 273.777 65.412C273.059 65.0522 272.39 64.6843 271.65 64.5466C270.597 64.3657 270.596 64.3609 269.561 64.1903C268.485 64.0114 267.04 62.8922 265.553 62.57C265.475 62.6297 265.197 62.4241 264.919 62.2987L263.576 61.5814L261.778 60.7282C261.041 60.5888 261.308 60.8108 260.532 60.5888C259.936 60.4182 260.137 60.3597 259.215 60.0251C259.145 60.1567 258.581 60.2142 258.454 60.0909C257.87 60.0251 257.507 60.2713 256.966 60.3597C256.52 60.4391 256.076 60.5615 255.655 60.7282C254.548 61.1496 253.876 61.3099 252.802 61.7971C252.02 62.1507 250.917 62.7016 250.128 63.0244C248.982 63.491 248.541 64.2874 247.364 64.6738C244.558 65.603 240.805 66.0668 237.975 66.9425C237.257 67.1645 237.156 67.4523 236.399 67.5592C235.825 67.6408 234.769 67.7833 234.209 67.9317C233.581 68.0982 232.762 68.0361 232.133 68.1183C231.503 68.2005 231.204 68.3446 230.566 68.3898C229.524 68.4367 228.647 68.4722 227.625 68.6825C226.39 68.9683 225.119 68.6581 224.021 69.6243C223.292 70.2697 222.269 70.3756 221.397 70.8587C220.422 71.3973 219.645 72.0254 218.672 72.564C218.526 72.6462 217.882 72.8693 217.729 72.933C216.806 73.3442 215.864 73.7223 214.94 74.1293C214.301 74.413 213.599 74.662 212.992 75.0074C212.344 75.3753 211.546 75.6721 211.464 76.1654C211.258 77.3988 211.381 78.6709 211.464 79.9578C211.464 80.077 211.359 80.3496 211.359 80.3496C212.067 80.4935 211.837 80.9293 211.738 81.3774C211.628 81.7548 212.067 82.0617 212.113 82.4521C212.426 83.9938 212.765 85.4576 213.094 86.9953C213.3 87.945 213.358 88.8876 213.578 89.8332C213.868 91.0851 214.168 92.3227 214.456 93.5746C214.535 93.9179 214.577 94.3825 214.686 94.7072C215.025 95.7125 215.208 96.6528 215.488 97.6724C216.235 100.4 217.042 103.113 217.691 105.868C218.191 108.008 218.513 110.197 218.939 112.346C219.556 115.466 220.431 118.649 221.015 121.775C221.266 123.112 221.359 124.458 221.69 125.771C222.06 127.239 222.533 128.532 223.014 129.971C223.282 130.769 223.555 131.596 223.931 132.338C224.514 133.497 224.912 134.279 225.511 135.291C226.148 135.173 226.502 135.346 226.899 135.291C227.946 135.134 228.741 135.267 229.815 135.074C233.349 134.439 236.909 133.935 240.462 133.407C245.625 132.64 250.822 131.851 255.986 131.078C256.622 130.978 257.206 130.868 257.769 130.556C258.357 130.234 258.665 129.45 259.233 129.068C260.005 128.541 260.717 128.454 261.398 127.833C263.867 125.572 266.292 123.287 268.797 121.076C270.49 119.59 272.131 118.031 273.662 116.38C274.986 113.771 277.752 112.178 279.749 110.055C281.667 108.016 283.519 105.97 285.416 103.934C285.764 103.522 286.166 103.021 286.499 102.597C287.34 101.535 288.62 100.953 288.562 99.3268C288.562 99.0842 288.728 98.5505 289.313 98.2324C289.759 97.3288 289.481 97.7769 289.759 97.3288C290.23 96.5723 290.937 95.9473 291.389 95.1908C292.866 92.6891 294.258 90.4404 295.706 87.9243C295.955 87.4905 296.191 86.8005 296.483 86.4099C297.718 84.7653 296.799 82.8224 297.323 80.925V80.225ZM276.637 128.433L276.438 128.45C279.67 128.165 282.618 127.852 285.849 127.579C289.945 127.231 294.024 126.775 298.14 126.561C299.991 126.465 301.666 125.588 303.513 125.339C305.274 125.102 307.206 125.161 308.965 125.19C310.757 125.217 312.231 124.426 313.918 124.015C314.741 123.81 315.606 123.759 316.439 123.589C316.886 123.467 317.472 123.642 317.932 123.589C320.129 123.476 322.163 123.097 324.36 122.972C325.373 122.914 326.504 122.689 327.506 122.526C328.288 122.403 328.882 122.23 329.582 121.903C330.143 121.64 330.819 121.241 330.945 120.706C331.159 119.747 331.442 119.106 331.227 118.147C330.857 116.574 330.373 115.029 329.777 113.526C328.703 110.757 327.325 108.14 325.42 105.84C323.595 103.636 321.797 101.406 319.866 99.3029C318.113 97.3973 316.189 95.6479 314.348 93.8225C313.667 93.1482 313.024 92.4349 312.324 91.7771C311.573 91.072 310.787 90.4018 310.004 89.7337C309.298 89.1314 308.574 88.5517 307.79 87.9042C307.311 89.0615 306.967 90.0277 306.523 90.9363C304.906 94.1822 303.332 97.4528 301.586 100.627C299.987 103.525 298.36 106.442 296.414 109.108C294.542 111.67 292.903 113.827 290.778 116.201C289.78 117.316 288.149 118.565 287.044 119.564C285.768 120.735 284.201 121.619 283.074 122.916C281.222 125.036 279.124 126.646 276.744 128.062C276.557 128.189 276.805 128.282 276.637 128.433ZM267.076 42.2988C266.047 42.8312 267.108 43.662 265.87 43.1809C265.288 43.4955 264.925 43.7195 264.539 43.886C264.417 43.9374 264.16 43.7545 264.086 43.8182C263.541 44.291 263.072 44.8625 262.492 45.2818C261.636 45.8985 260.708 46.4227 259.818 46.986L259.215 47.8153L259.462 48.4643V49.0879C259.836 49.1591 259.709 49.0415 260.074 48.9352C261.034 48.7296 262.235 48.4006 263.181 48.4643C264.913 48.5794 266.279 47.9419 267.832 47.428C270.797 46.4639 275.195 47.0024 278.133 47.3416C281.377 47.7158 281.983 48.0808 281.983 48.0808C281.983 48.0808 288.929 50.4643 290.179 51.0275C291.572 51.6298 294.97 52.8507 296.336 53.5127C297.303 53.9814 297.302 54.0693 298.244 54.7847C299.779 55.9503 300.466 55.8725 302.023 56.7235C302.297 56.5693 302.785 56.8059 302.785 56.8059C302.785 56.8059 303.328 56.4221 303.557 56.8059C303.418 56.2802 303.487 56.5208 303.557 56.049C303.536 55.0889 303.323 54.1972 303.169 53.2493C302.815 50.9881 302.581 48.8195 302.156 46.5809C301.639 43.8509 301.097 42.2866 299.603 39.9761C299.096 39.2074 298.184 37.648 297.336 37.2894C295.69 36.6501 293.96 36.2143 292.144 36.6727C291.997 36.6958 291.703 36.6543 291.703 36.6543C291.559 36.619 291.161 36.7036 291.042 36.6154C290.401 36.6154 290.421 36.4774 289.517 36.5329C289.205 36.7103 287.581 36.4504 287.223 36.4774C286.266 36.5267 285.301 36.4548 284.343 36.5329C282.563 36.6788 280.787 36.8627 279.057 37.2451C278.469 37.3787 278.043 37.6061 277.304 37.8295C277.258 37.8295 277.081 38.0068 276.982 38.0664C276.583 38.3008 276.18 38.6071 275.748 38.6831C275.316 38.7592 275.199 38.9082 274.795 39.0089C273.752 39.272 273.178 39.5125 272.267 40.047C271.79 40.3265 270.562 40.2361 270.011 40.8149C269.809 41.0268 270.011 41.0268 269.31 41.1471C269.116 41.2533 268.901 41.1615 268.731 41.3041C268.394 41.6474 268.753 41.2859 268.434 41.6456L267.561 42.1942L267.076 42.2988Z"/>
                            </svg>
                                
                            <svg class="customize-preview__image-mask-2 design2-mask" width="334" height="284" viewBox="0 0 334 284" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M333.571 127.395V131.507C333.481 131.831 333.422 132.164 333.394 132.499C333.417 135.4 332.804 138.05 331.088 140.517C329.564 142.698 327.546 144.204 325.314 145.45C322.932 146.788 320.377 147.839 318.034 149.222C316.927 149.874 316.11 151.013 315.154 151.917C314.818 152.232 314.483 152.612 314.072 152.772C311.329 153.837 308.569 154.851 305.812 155.877C305.562 155.986 305.297 156.06 305.026 156.097C301.955 156.316 298.88 156.713 295.81 156.686C289.822 156.619 283.834 156.327 277.849 156.07C275.868 155.988 273.896 155.739 271.917 155.609C268.856 155.404 265.788 155.054 262.729 155.116C259.559 155.182 256.396 155.659 253.23 155.969C249.418 156.343 245.618 156.775 241.798 157.102C237.889 157.437 233.954 157.634 230.037 157.977C228.622 158.101 227.141 158.259 225.843 158.781C223.915 159.554 222.103 160.631 220.289 161.645C219.03 162.35 217.795 163.03 216.312 163.168C215.8 163.215 215.284 163.524 214.827 163.805C209.221 167.261 204.078 171.38 198.66 175.095C186.679 183.307 174.655 191.452 162.927 200.024C162.5 200.303 162.122 200.65 161.808 201.052C159.37 204.61 156.871 208.128 154.577 211.783C152.689 214.798 150.79 217.775 150.002 221.422C149.385 224.314 148.011 227.095 146.672 229.776C144.203 234.736 141.849 239.709 139.218 244.593C136.587 249.477 137.688 249.251 134.612 253.944C134.612 253.944 130.947 259.912 130.933 259.943C127.86 264.877 124.953 269.147 121.908 274.107C119.934 277.323 117.345 280.185 114.74 282.857C113.883 283.739 112.395 284.001 111.077 283.744C110.225 283.577 109.324 283.464 108.561 283.09C106.872 282.268 105.235 281.322 103.624 280.356C103.117 280.031 102.683 279.604 102.348 279.104C101.355 277.665 100.454 276.175 99.4437 274.754C99.1619 274.36 98.5879 274.185 98.2238 273.831C97.7959 273.42 97.1685 272.935 97.1335 272.448C97.0677 271.549 96.5966 271.048 95.9774 270.637C93.491 269.003 91.2431 267.033 89.2979 264.782C87.5617 262.759 85.556 260.969 83.6881 259.057C83.001 258.354 82.6369 257.234 81.3285 257.388C81.1886 257.404 80.9829 257.182 80.8656 257.018C78.9546 254.448 76.2885 252.701 73.894 250.67C64.5555 242.747 53.9964 236.384 42.6254 231.83C39.873 230.718 37.0341 229.774 34.5758 228.021C33.6439 227.352 32.9651 226.619 32.7038 225.463C32.4981 224.573 32.0743 223.737 31.7946 222.861C31.5602 222.154 31.3773 221.431 31.2474 220.698C30.9676 218.982 30.9779 217.181 30.4554 215.545C27.9498 207.702 25.4277 199.862 22.6773 192.11C19.7274 183.791 17.0819 175.428 15.8023 166.648C14.7059 159.12 13.2844 151.642 11.8938 144.157C11.217 140.537 10.1411 136.989 9.47045 133.369C8.44188 127.866 7.67251 122.318 6.69948 116.804C5.17308 108.138 2.79089 99.6313 1.89603 90.8412C1.643 88.3374 1.07318 85.8665 0.661747 83.3791C0.488947 82.3143 0.546556 81.3234 1.15958 80.3285C3.40571 76.7147 5.31507 72.6764 7.54662 69.0537C9.83799 65.3339 12.339 61.4573 14.6631 57.7602C16.9733 54.0805 19.599 51.1465 21.7795 47.3949C28.5825 35.6899 35.5693 23.9366 44.5385 13.7035C44.8265 13.3746 45.2204 12.0649 45.4323 11.6579C45.8372 10.8278 45.7977 10.7537 46.2918 9.97335C46.5654 9.56222 47.4399 9.3703 47.6498 8.95917C49.0774 6.09356 49.9978 3.90474 53.2707 2.53029C54.7225 0.49417 56.8813 0.882428 58.5908 0.726196C60.8703 0.726193 63.3409 0.89166 64.9838 1.61705C65.8925 2.17503 66.6909 3.14654 67.4926 3.93315C70.4775 6.85838 71.3559 7.42096 74.3059 10.3852C74.6433 10.7707 77.3145 13.3965 77.7316 13.694C82.28 16.4897 86.4651 18.956 91.0526 21.686C93.7886 23.314 96.6765 25.1373 99.4577 26.6873C105.705 30.1696 111.722 33.4831 117.975 36.9572C119.884 38.0158 121.848 38.8629 123.769 39.8969C123.97 40.0251 125.292 40.5653 125.526 40.6095C128.553 40.9015 130.237 41.0356 133.269 41.0931C139.951 41.2226 146.573 41.2792 153.251 41.1949C161.774 41.086 170.174 41.6189 178.683 40.6095C181.367 40.2909 183.951 40.0094 186.209 38.3443C188.18 36.891 190.292 35.3326 192.399 34.0684C194.009 33.0981 195.996 32.1756 197.658 31.2814C202.363 28.7734 206.891 26.1469 211.82 24.0275C219.164 20.8454 226.847 18.9298 234.806 18.0718C238.715 17.6606 242.047 17.3981 245.937 16.8882C249.163 16.4668 253.158 16.7709 256.303 17.55C260.969 18.7032 264.91 21.0403 269.166 23.1494C271.097 24.1074 273.005 25.109 274.663 26.4287C277.349 28.5564 279.863 30.8935 282.18 33.418C286.465 38.1173 289.876 43.4497 292.908 49.0411C295.788 54.355 298.31 59.7841 299.546 65.7435C299.647 66.2266 300.021 66.7179 300.398 67.0694C304.531 70.9197 308.918 74.5109 312.372 79.0416C314.028 81.2145 315.958 83.2167 317.355 85.5417C320.21 90.2923 322.829 95.1869 325.46 100.067C326.291 101.67 327.005 103.33 327.595 105.036C328.542 107.634 329.266 110.317 330.27 112.888C331.643 116.352 332.547 119.984 332.956 123.687C333.076 124.928 333.366 126.162 333.571 127.395ZM203.809 68.3905C204.005 71.4534 204.152 72.3571 204.37 75.1734C204.434 75.8829 204.531 77.1263 204.777 77.795C205.337 79.3676 206.274 80.917 206.687 82.5163C207.996 87.5918 208.8 92.6316 210.1 97.7112C211.907 104.769 213.552 111.903 215.471 118.932C216.228 121.715 217.598 124.336 217.674 127.301C217.717 128.96 218.929 129.453 220.348 129.101C221.274 128.875 222.258 128.477 223.179 128.241C226.843 127.301 230.564 126.898 233.804 124.727C234.855 124.02 235.971 123.414 237.137 122.916C247.587 118.492 258.161 114.393 268.921 110.773C273.311 109.295 277.889 108.271 281.881 105.755C282.486 105.375 282.91 104.982 282.994 104.296C283.151 103.151 283.393 102.004 283.406 100.856C283.474 94.4613 283.601 88.0681 283.046 81.6811C282.869 79.6501 282.394 77.9645 280.701 76.6283C274.449 71.6947 267.778 67.4003 260.831 63.5172C259.516 62.7833 258.21 62.0227 256.852 61.3772C253.738 59.8951 251.148 57.825 249.492 54.7682C248.813 53.5143 247.904 53.4156 246.682 53.6129C245.133 53.8637 243.563 54.0097 241.998 54.1433C238.375 54.4558 234.787 55.0581 231.374 56.2627C226.711 57.9072 222.14 59.8211 217.546 61.6609C214.033 63.069 208.497 65.1153 204.981 66.507C203.734 66.9983 203.724 67.0542 203.809 68.3905ZM300.688 99.7526C300.184 100.38 299.795 100.926 299.345 101.416C294.344 106.863 289.193 112.181 284.367 117.779C280.067 122.766 275.284 127.042 269.479 130.183C266.712 131.681 264.036 133.348 261.322 134.944C261.039 135.11 260.769 135.303 260.277 135.626C260.627 135.728 260.999 135.573 261.359 135.626C263.137 135.714 264.894 135.519 266.67 135.626C269.435 135.791 272.207 136.395 274.961 136.67C278.631 137.036 282.427 137.36 286.091 137.785C288.296 138.042 290.452 138.152 292.649 138.46C298.255 139.249 303.718 140.788 309.453 140.449C310.941 140.36 311.969 139.832 312.025 138.113C312.181 133.355 312.103 128.592 311.009 123.94C310.027 119.767 309.303 115.511 307.341 111.606C306.322 109.518 305.418 107.376 304.633 105.19C303.794 102.968 302.196 101.362 300.68 99.7546L300.688 99.7526ZM267.527 47.0677C264.943 43.5442 262.188 40.508 258.8 37.9425C254.05 34.343 248.694 31.9338 243.442 29.2943C242.438 28.7886 241.358 28.435 240.313 28.0074C239.55 27.695 238.906 27.7875 238.233 28.3425C237.401 28.9998 236.526 29.5994 235.612 30.1371C227.281 35.2804 219.535 40.4122 211.196 45.5472C210.84 45.7672 210.715 45.8856 210.368 46.1344V46.4126C210.368 46.5144 210.328 46.5781 210.648 46.5781C212.004 46.43 214.749 45.8908 214.749 45.8908C214.749 45.8908 222.743 44.2966 226.809 44.5801C228.105 44.6767 229.603 44.758 230.897 44.8855C234.6 45.2514 238.133 45.3707 241.836 45.7763C244.177 46.0353 246.52 46.1752 248.917 45.9799C252.208 45.7127 255.649 46.1026 258.965 46.1581C261.826 46.2074 264.466 46.9011 267.518 47.0697L267.527 47.0677Z"/>
                            </svg>
                                
                                    
                            <img class="customize-preview__image-main" src="//cdn.shopify.com/s/files/1/0503/6461/2774/files/flyer-preview.png?v=1614871343" />
                            <div class="customize-preview__image-logo design1">
                                <img class="logo__img" />
                            </div>
                            <div class="customize-preview__image-logo design2">
                                <img class="logo__img" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="customize__wizard-nav rte">
            <a style="visibility: hidden;" data-action="back">BACK</a>
            <a data-action="next">NEXT</a>
        </div>
    </div>
    <div class="loading-modal-container" id="emailFlyerModal">
        <div class="blocker"></div>
        <div class="loading-modal">
            <div class="loading-modal__close">
                <a><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/></svg></a>
            </div>
            <div class="loading-container" style="width:400px">
                <label for="email">Email</label>
                <input type="email" required id='Email' name='Email' class="input-full" autocorrect="off" autocapitalize="off" />
                <div class="page__form-footer">
                    <button type="button" class="btn">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="loading-modal-container" id="loadingFlyerModal">
        <div class="blocker"></div>
        <div class="loading-modal">
            <div class="loading-container">
                <h4>Finalizing your custom mask flyer</h4>
                <div class="loading-wrapper">
                  <div class="loading-pulse"></div>
                </div>
              </div>
        </div>
    </div>
</div>
{%- style -%}
    .color-picker input {
        background: url({{ "color-picker.png" | asset_url }});
        background-position: center;
    }
{%- endstyle -%}
{% schema %}
{
    "name": "Page Banner",
    "settings": [         
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "image_picker",
            "id": "bg_image",
            "label": "Background Image"
        }
    ]
}
{% endschema %}
