{%- style -%}
    .section--{{ section.id }} {
      background-image: url('{{ page.metafields.design.banner }}');
    }
{%- endstyle -%}
<div class="coming-soon {{ page.title | replace: '.', ' ' | truncatewords: 1, '' | handle }}">  
  <div class="coming-soon__banner section--{{ section.id }}">
  </div>
</div>
