<div class="index-section">
  <div class="product-information">
    <div class="product-information--left">
      <div class="page-width faq-item">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1">
          {%- render 'collapsible-icons' -%}
          <span class="collapsible-heading">EDITOR'S NOTE</span>
        </button>
        <div id="FAQ-content-1" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            {{ product.metafields.info.editor_notes }}
          </div>
        </div>
      </div>
      <div class="page-width faq-item">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-2">
          {%- render 'collapsible-icons' -%}
          <span class="collapsible-heading">PRODUCT INFORMATION</span>
        </button>
        <div id="FAQ-content-2" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            {{ product.metafields.info.product_information }}
          </div>
        </div>
      </div>
      <div class="page-width faq-item">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-3">
          {%- render 'collapsible-icons' -%}
          <span class="collapsible-heading">CARE AND COMPOSITION</span>
        </button>
        <div id="FAQ-content-3" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            {{ product.metafields.info.care_composition }}
          </div>
        </div>
      </div>
      <div class="page-width faq-item">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-4">
          {%- render 'collapsible-icons' -%}
          <span class="collapsible-heading">DELIVERY, COLLECTION AND RETURNS</span>
        </button>
        <div id="FAQ-content-4" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            {{ product.metafields.info.delivery_returns }}
          </div>
        </div>
      </div>
    </div>
    <div class="product-information--right">
      <img src="https://cdn.shopify.com/s/files/1/0506/1682/8100/files/overall_information.png?v=1620962264">

      {%if product.metafields.info.test-report != blank%}
        <a href="{{ product.metafields.info.test-report }}" class="btn btn--secondary btn--small" target="_blank">
          VIEW TEST REPORT
        </a>
        {%endif%}
    </div>
  </div>

</div>