{%- liquid
  assign recommend_products = true

  if recommendations.products and recommendations.products_count > 0
    assign related_collection = recommendations
  endif

  for tag in product.tags
    if tag contains '_related'
      assign include_collection_handle = tag | split: '_' | last
      assign include_collection = collections[include_collection_handle]
      if include_collection != empty and include_collection.products_count > 0
        assign related_collection = include_collection
        assign recommend_products = false
        break
      endif
    endif
  endfor
-%}

{%- assign current_product = product -%}
{%- assign current_product_found = false -%}
{%- assign related_count = 0 -%}
<div class="product-recommendations template-collection">
  <h3 class="h3">RECOMMENDED</h3>
  <div class="product-recommendations-grid">
    {%- for product in related_collection.products limit: 3 -%}
      {%- render 'product-grid-item', product: product, grid_item_width: grid_item_width -%}
    {%- endfor -%}
  </div>
</div>