.template-blog,
.template-article {
    .main-content {
        padding-top: 50px;
    }

    .social-sharing {
        text-align: center;
    }

    .return-link,
    .return-link:hover {
        background: transparent !important;
        color: #000 !important;
    }

    .grid__image-ratio--cover {
        background-position: top center;
    }

    @media only screen and (max-width: 1024px) {
        .grid__item {
            padding-left: 0;
        }
    }
}

.blog {

    &__press,
    &__news,
    &__brand {
        &-box {
            height: 400px;
            padding: 40px 20px;
            border: solid 1px #d1d4e8;
            border-radius: 10px;
            margin-bottom: 20px;

            &:hover {
                box-shadow: 0 0px 16px rgba(0, 0, 0, .3);
                transition: box-shadow 0.2s ease;
            }

            h4 {
                text-align: center;
                padding-top: 10px;
            }

            .article__date {
                text-align: center;
            }

            .article__grid-meta {
                height: 260px;
            }
        }

        &-image {
            text-align: center;
            padding: 20px;
            height: 120px;

            img {
                max-height: 100%;
            }
        }

        &-footer {
            text-align: center;
        }

        @media only screen and (max-width: 1024px) {
            .grid__item {
                padding-left: 0;
            }
        }
    }

    &__brand {        
        &-box {
            height: 600px;

            .article__grid-meta {
                height: 460px;
            }
            
        }
        
        &-image {
            height: 240px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__filter {
        padding: 0 0 20px 22px;
        display: flex;

        label {
            display: inline-block !important;
        }

        select {
            margin-right: 20px !important;
            width: 180px;
        }

        @media only screen and (max-width: 1024px) {
            flex-direction: column;
            align-items: center;

            &-item {
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    
}

.my-blog {
    .grid--uniform {
        > .grid__item {
            &:nth-child(1n) {
                padding-top: 0;
            }
        
            &:nth-child(2n) {
                padding-top: 60px;
            }
        
            &:nth-child(3n) {
                padding-top: 120px;
            }
        
        }
    }
    
    @media only screen and (max-width: 1024px) {
        .grid__item {
            padding-top: 0 !important;
        }
    }
}