.template-collection {
    .header-wrapper--sticky {
        background: none;
    }

    .collection-header {
        background: #995C41;
        padding-top: 80px;

        .collection-header__content {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            min-height: calc(100vh + 80px);
        }

        .collection-header__description {
            width: 300px;
            color: #fff;
            float: right;
            margin-top: 100px;
            margin-right: 50px;
        }
    }

    .collection-content {
        .grid__image-ratio {
            height: 750px;
            background-color: transparent;
            background-position: bottom left;
        }

        .grid--collection {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .grid-product {
                margin: 30px;
                width: 524px;

                @media only screen and (max-width: 576px) {
                    margin-left: 0;;
                    margin-right: 0;;
                }
            }
        }

        .grid-product__title {
            font-size: 24px;
            font-weight: 700;
        }

        .variant-input-wrap {
            .color-swatch {
                padding: 0;
            }
        }
    }

    .grid-product__image-mask:hover .grid-product__overlay {
        animation: fade-in 0.2s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards
    }

    .grid-product__overlay {
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, transparent);
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;

        display: flex;
        align-items: flex-end;
        color: #fff;
        padding: 20px 50px;
        opacity: 0;

        .grid-product-container {
            width: 100%;
        }

        .product-single__form {
            text-align: center;

            .btn--secondary {
                margin-right: 20px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .btn {
            color: #fff;
            border-color: #fff;
        }

        .btn--hidden {
            display: none;
        }

        .variant-input-wrap {
            label {
                background: transparent;
                box-shadow: none;
                font-weight: 700;
                font-size: 20px;
                margin-right: 20px;
            }

            input[type=radio]:checked+label {
                box-shadow: 0 0 0 2px #e8e8e1;
            }
        }
    }

    .grid-product__title {
        display: flex;
        align-items: center;

        &-text {
            width: 80%;
        }

        &-nav {
            width: 20%;
            text-align: right;

            svg {
                height: 20px;
                width: 28px;

                cursor: pointer;
            }
            
        }
    }
}

@media only screen and (max-width: 1024px) {
    .template-collection {
        .collection-content {
            .grid__item {
                padding-left: 0px;
            }

            .grid-product__colors {
                padding-left: 10px;
            }

            .grid-product__overlay {
                padding: 20px;

                .variant-input-wrap label {
                    margin-right: 0px;
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {

    .template-collection {
        .collection-content {
            .grid__image-ratio {
                height: 500px;
                background-size: 100%;
                background-position: top left;
            }
        }

        .small--grid--flush {
            margin-left: -17px;
        }
    }

    #CollectionAjaxContent > .page-width1 {
        padding: 0;
    }
}