.loading-modal {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    background: #fff;
    position: fixed;
    z-index: 99999;
    border-radius: 5px;

    h4 {
        text-align: center;
        padding: 20px 40px;
        margin: 0;
    }

    &-container {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: var(--margin);
        z-index: 1000;

        &.show {
            display: flex !important;
        }

        .blocker {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            content: ' ';
            background: rgba(#000000, 0.6);
            z-index: 9999;
        }
    }

    &__close {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
    }
}

.loading {
    &-container {
        padding: 20px;
    }

    &-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 2rem 0;
        margin: 0 -5%;
        overflow: hidden;
    }
}

.loading-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #2C6975;
    color: #2C6975;
    box-shadow: 9999px 0 0 -5px #2C6975;
    animation: loadingPulse 1.5s infinite linear;
    animation-delay: .25s;

    &::before,
    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #2C6975;
        color: #2C6975;
    }

    &::before {
        box-shadow: 9984px 0 0 -5px #2C6975;
        animation: loadingPulseBefore 1.5s infinite linear;
        animation-delay: 0s;
    }

    &::after {
        box-shadow: 10014px 0 0 -5px #2C6975;
        animation: loadingPulseAfter 1.5s infinite linear;
        animation-delay: .5s;
    }
}

@keyframes loadingPulseBefore {
    0% {
        box-shadow: 9984px 0 0 -5px #2C6975;
    }

    30% {
        box-shadow: 9984px 0 0 2px #2C6975;
    }

    60%,
    100% {
        box-shadow: 9984px 0 0 -5px #2C6975;
    }
}

@keyframes loadingPulse {
    0% {
        box-shadow: 9999px 0 0 -5px #2C6975;
    }

    30% {
        box-shadow: 9999px 0 0 2px #2C6975;
    }

    60%,
    100% {
        box-shadow: 9999px 0 0 -5px #2C6975;
    }
}

@keyframes loadingPulseAfter {
    0% {
        box-shadow: 10014px 0 0 -5px #2C6975;
    }

    30% {
        box-shadow: 10014px 0 0 2px #2C6975;
    }

    60%,
    100% {
        box-shadow: 10014px 0 0 -5px #2C6975;
    }
}