.template-product {
    --product-color: #B62203;

    .site-header {
        background: var(--product-color) !important;
    }

    .header-wrapper--sticky {
        background: none;
    }

    small {
        display: inline;
        font-size: 0.7em;
    }

    .page-width {
        padding: 0;
    }

    .grid__item {
        padding-left: 0;
    }

    .color-swatch {
        width: 19px;
        height: 19px;
        padding: 0;
    }

    .size-guide__btn {
        color: var(--product-color);
        text-decoration: underline;
    }

    .page-content--product {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #E5E5E5;

        .grid {
            display: flex;
            align-items: center;
            min-height: 100vh;
            padding-top: 100px;
        }
    }

    .page-content--product,
    .product__photos {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom left;
    }

    .product-single__thumbs {
        display: none;
    }

    .product-single__image-container {
        display: flex;

        @media only screen and (max-width: 1024px) {
            flex-direction: column;
        }

        .product-single__background {
            width: 80%;
            padding: 20px;

            @media only screen and (max-width: 1024px) {
                width: 100%;
                padding: 0;
            }
        }

        .product-single__image {
            background-size: cover;
            border-radius: 10px;
            height: calc(100vh - 200px);
            background-position: top center;
            background-repeat: no-repeat;

            @media only screen and (max-width: 576px) {
                background-size: 120%;
            }

            @media only screen and (max-width: 1024px) {
                height: calc(100vh/2);
                padding-bottom: 20px;
                margin: 80px 10px 20px;
            }
        }

        .product-single__thumbs {
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media only screen and (max-width: 1024px) {
                flex-direction: row;
                padding: 0px 20px;
            }
        }

        .product-single__thumb-item {
            width: 160px;
            max-height: 160px;
            margin-bottom: 20px;
            border-radius: 10px;
            overflow: hidden;

            @media only screen and (max-width: 1024px) {
                margin-right: 20px;
            }

            @media only screen and (max-width: 576px) {
                padding: 0px 5px;
                width: 110px;
                max-height: 100px;
            }

        }
    }

    .product-variant__options {
        display: flex;

        .variant-wrapper {
            padding-right: 50px;
        }

        .variant-input-wrap label {
            padding: 0 8px;
        }

        .variant__label-info {
            display: none;
        }

        .product-variant__guide {
            padding-left: 120px;
        }

        @media only screen and (max-width: 1024px) {
            justify-content: center;

            .product__quantity {
                padding-right: 120px;
            }

            &.justify--center {
                .product__quantity {
                    padding-right: 0;
                }
            }

            .product-variant__guide {
                padding-left: 0;
                padding-right: 80px;
            }
        }

        @media only screen and (max-width: 576px) {
            justify-content: space-between;

            &.justify--center {
                justify-content: center;
            }

            .variant-wrapper {
                padding-right: 0;
            }

            .product__quantity {
                padding-right: 0;
            }

            .product-variant__guide {
                padding-left: 0;
                padding-right: 20px;
            }

        }
    }

    .image-wrap {
        background: transparent;
    }

    .js-qty__wrapper {
        background-color: transparent;
    }


    .js-qty__num {
        padding: 2px 5px;
    }

    .js-qty__num,
    .js-qty__adjust {
        border-color: #d2d2d2 !important;
    }

    .js-qty__adjust:hover {
        background-color: #d2d2d2 !important;
    }

    .product-single__meta {
        padding: 20px 40px;
        margin: 0px;
        background-color: #e8e8e8;
        border-radius: 20px 0 0 20px;
    }

    .hr--medium {
        display: none;
    }

    .product-single__description {
        margin-bottom: 15px;
    }

    .payment-buttons {
        display: flex;

        @media only screen and (max-width: 1024px) {
            justify-content: center;
            padding-top: 20px;
        }

        @media only screen and (max-width: 576px) {
            justify-content: space-around;
        }

        button {
            min-height: auto;
            line-height: 1;
            height: 42px;
            padding: 14px 20px;
            white-space: nowrap;
        }
    }

    .shopify-payment-button {
        margin-top: 0;
        margin-right: 20px;

        .shopify-payment-button__button--unbranded,
        .shopify-payment-button__button--unbranded:hover {
            width: auto !important;
            background: var(--product-color) !important;
            letter-spacing: 0.1em !important;
        }
    }

    .btn--full {
        width: auto !important;
        letter-spacing: 0.1em !important;
    }

    .product-additional-info {
        display: flex;
        align-items: flex-end;

        @media only screen and (max-width:1200px) {
            flex-direction: column;

            align-items: flex-start;
        }

        @media only screen and (max-width:1024px) {
            align-items: center;
        }

        .market-place {
            flex-grow: 1;
            padding-bottom: 10px;
            ;

            &__label {
                font-size: 0.7em;
                font-weight: bold;
            }

            &__icons {
                display: flex;
                align-items: center;

                a:first-child {
                    svg {
                        margin-right: 10px;
                    }
                }

                svg {
                    max-height: 30px;

                    &:first-child {
                        margin-right: 10px;
                    }

                    path {
                        fill: var(--product-color);
                    }
                }
            }
        }

        .support-info {
            display: flex;
            justify-content: flex-end;
            flex-grow: 1;
            padding-bottom: 10px;

            p {
                margin: 0;
            }

            a {
                color: var(--product-color);
                padding-right: 20px;
            }

            &__enquiry {
                color: #000 !important;
                text-decoration: underline;
            }
        }
    }

    .feature-row {
        margin: 0 !important;
    }

    .feature-row__text {
        padding: 80px;
    }

    .featured-row__icon {
        margin-left: -10px;
    }

    .product-page {
        .index-section {
            margin: 0;
            padding: 0;
        }
    }

    .feature-row__item-video video {
        object-fit: cover;
        display: block;
        width: 100%;
        height: 600px;
    }

    .product-faq {
        padding: 80px 20px !important;

        .collapsible-trigger {
            width: 100%;
            padding: 10px 0px !important;


            .collapsible-trigger__icon {
                right: 0;
                left: auto;
            }

            span[itemprop='name'] {
                display: block;
                width: 90%;
            }
        }

        .faq-item {
            border-bottom: solid 1px #ccc;
        }        
    }

    .collapsible-content__inner--faq {
        padding: 20px 0 !important;
    }

    .product__photo-zoom {
        display: none;
    }

    .test-report {
        .btn {
            width: auto !important;
            background: var(--product-color) !important;
            letter-spacing: 0.1em !important;
            color: #fff;
        }
    }

    @media only screen and (max-width: 1024px) {
        .page-content--product {
            padding-bottom: 0;
            padding-top: 0;
            display: flex;
            align-items: flex-start;

            .grid {
                flex-direction: column;
                min-height: auto;
                padding-top: 0;
            }

            .page-width {
                width: 100%;
            }
        }

        .product__main-photos {
            margin-left: 0;
            margin-right: 0;
        }

        .feature-row__text {
            padding: 40px 30px;
        }

        .feature-section {
            .feature-row__text {
                padding: 120px 30px;
            }
        }

        .product-single__meta {
            border-radius: 0;
            margin-top: 0;
            padding-top: 60px;
        }

        .product__photos {
            padding-bottom: 20px;
        }

        .product-single__background {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom left;
        }

        .background-media-text__subtext,
        .featured-row__subtext {
            text-align: left;
            padding-top: 10px;
        }

        .feature-row__item-image {
            padding: 0 !important;
        }
    }

    @media only screen and (min-width:1025px) {

        .background-media-text--950,
        .background-media-text--950 .background-media-text__video,
        .background-media-text__spacer.background-media-text--950 {
            min-height: 950px;
        }

        .background-media-text--1050,
        .background-media-text--1050 .background-media-text__video,
        .background-media-text__spacer.background-media-text--1050 {
            min-height: 1050px;
        }
    }

    .product-information {
        display: flex;
        align-items: stretch;
        align-content: center;
        justify-content: center;
        background-color: #E6E9EE;

        @media only screen and (max-width: 1024px) {
            flex-direction: column;
        }

        &--left {
            width: 50%;
            padding: 120px;
            background-color: #fff;

            @media only screen and (max-width: 1024px) {
                width: auto;
                padding: 20px;
            }
        }

        &--right {
            width: 50%;
            padding: 120px;
            text-align: center;

            @media only screen and (max-width: 1024px) {
                width: auto;
                padding: 60px;
            }
        }

        .collapsible-trigger {
            width: 100%;
            padding: 10px 0!important;
            border-bottom: solid 1px #ccc;
        }

        .collapsible-trigger__icon {
            right: 0;
            left: auto;
        }

        .collapsible-trigger .collapsible-heading {
            display: block;
            width: 90%;
        }

        .btn {
            color: var(--product-color);
            border-color: var(--product-color);
            background: transparent;
            font-weight: 700;
            border-width: 2px;
            margin-top: 60px;
        }

        svg path {
            fill: var(--product-color);
        }
    }

    .product-recommendations {
        background: var(--product-color);
        padding: 60px 30px;

        .h3 {
            color: #fff;
        }

        &-grid {
            display: flex;

            @media only screen and (max-width: 1024px) {
                flex-direction: column;
            }
        }

        .grid__item {
            float: none;
            width: auto;
            flex-basis: 100%;
            margin-right: 20px;

            @media only screen and (max-width: 1024px) {
                margin-right: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .grid__image-ratio {
            height: 600px;
            background-position: top left;
            background-size: cover;

            @media only screen and (max-width: 1024px) {
                height: 340px;
            }
        }

        .grid-product__overlay {
            padding: 10px;

            .variant-input-wrap label {
                margin-right: 0px;
                font-size: 14px;
            }
        }

        .grid-product__colors {
            padding-left: 10px;
        }

        .grid-product__title-text, .grid-product__price  {
            color: #fff;
        }

        .grid-product__title-nav {
            display: none;
        }

        svg path  {
            fill: #fff !important;
        }
    }
}