iframe {
    display: none;
}

body {
    --typeHeaderWeight: 700;
}


.page-width {
    max-width: none !important;
}

.grid {
    margin-left: 0;
}

.background-media-text__text {
    background-color: #e8e8e8;
    color: #000;
    border-radius: 10px;
}

.page-content--product {
    padding: 0 !important;
}

.template-product .page-width {
    padding: 0 !important;
}




.template-product .grid__item {
    padding-left: 0;
}


.template-product .product-single__meta {
    padding: 40px 20px 20px 40px !important;
    margin: 50px;
    margin-right: 0px;
    background-color: #E8E8E8;
    border-radius: 20px 0 0 20px;
}

@media only screen and (max-width: 768px) {
    .template-product .product-single__meta {
        padding: 20px !important;
        margin: 0;
        border-radius: 0;
    }

}

.template-product .product__price {
    font-size: 28px;
}

.template-product .js-qty__wrapper {
    background-color: transparent;
}

.template-product .js-qty__num,
.template-product .js-qty__adjust {
    border-color: #d2d2d2 !important;
}

.js-qty__adjust:hover {
    background-color: #d2d2d2 !important;
}

.template-product .product__thumbs {
    padding-bottom: 20px;
}

.template-product .product__thumbs .slick-arrow,
.template-product .product__photo-zoom {
    display: none !important;
}

.template-product .btn--full {
    width: auto !important;
    letter-spacing: 0.1em !important;

}

.shopify-payment-button .shopify-payment-button__button--unbranded,
.shopify-payment-button .shopify-payment-button__button--unbranded:hover {
    width: auto !important;
    background: #fb8536 !important;
    letter-spacing: 0.1em !important;

}

.template-product .payment-buttons {
    display: flex;
}

.shopify-payment-button {
    margin-top: 0;
    margin-right: 20px;
}

.template-product .hr--medium {
    border-color: transparent;
}

.template-product .image-wrap {
    background: transparent;
}


.template-product .background-media-text__text {
    background-color: #fb8536;
    color: #fff;
    border-radius: 0px;
}

.template-product .index-section {
    margin: 0 !important;
    background-color: #c2c1c1;
}

.template-product .rich-text {
    padding: 40px 0 20px 0;
}

.template-product .product-faq .index-section {
    background: transparent !important;

}

.template-product .product-faq {
    padding: 20px 0 50px 0 !important;

}

.template-product .product-faq .collapsible-content {
    padding-left: 40px;
}

.template-product .slideshow-wrapper {
    background-color: #fb8536;
}

@media only screen and (max-width: 768px) {
    .template-product .product-single__meta {
        text-align: center;
        padding: 45px 0px 45px 0px;
    }

    .template-product .payment-buttons {
        justify-content: space-around;
    }

    .template-product .product-faq {
        padding: 20px !important;

    }
}

.template-product .feature-row {
    margin: 0 !important;
}

.template-product .product__thumbs {
    display: none;
}

.template-product .collapsible-trigger__icon {
    color: #fb8536 !important;
}

.test-report a {
    line-height: 0;
    font-size: 0;
    color: transparent;
    background-color: transparent;
    border: none !important;
}

.test-report a:hover {
    background-color: transparent;
    opacity: 0.6;
}

.test-report a:after {
    border: none !important;
}

.test-report a {
    background-image: url(https://cdn.shopify.com/s/files/1/0506/1682/8100/files/download-button.png?v=1603835403) !important;
    background-size: contain;
    height: 50px;
    width: 50px;
}

.test-report p {
    margin-bottom: 10px;
}

.test-report p:last-child {
    margin-top: -20px;
}

.product-uvone .product-section {
    background-color: #c2c1c1;

}

.page-content--product,
.product__photos {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
}

.product-uvone .page-content--product {
    background-image: url(https://cdn.shopify.com/s/files/1/0506/1682/8100/files/uvone-bg.png?v=1603770576);
    background-position: bottom left;
}


.product-uvone .test-report {
    background-color: #e4ecec;
    padding: 20px;
}

.product-uvone .travel {
    background-color: #fb8536;
    text-align: center;
    padding: 120px 20px;
    margin: 0 !important;
    color: #fff;
}

.product-uvone .travel .hero__subtitle {
    font-size: 18px;
}

.product-uvone .support-info a {
    color: #fb8536 !important;
}

.product-uvone .image-row {
    background-color: #E8E8E8;
}

.support-info a:hover {
    font-weight: bold;
}

.product-uvsafe .page-content--product {
    background-image: url(https://cdn.shopify.com/s/files/1/0506/1682/8100/files/uv_safe_caption.png?v=1603784634);
    background-position: bottom left;
}


@media only screen and (max-width: 768px) {
    .product-uvone .product-section {
        background-color: #E8E8E8;

    }

    .product-uvone .page-content--product {
        background-image: none;
    }

    .product-uvone .product__photos {
        background-image: url(https://cdn.shopify.com/s/files/1/0506/1682/8100/files/uvone-bg.png?v=1603770576);
    }

    .product-uvsafe .page-content--product {
        background-image: none;
    }

    .product-uvsafe .product__photos {
        background-image: url(https://cdn.shopify.com/s/files/1/0506/1682/8100/files/uv_safe_caption.png?v=1603784634);
        background-position-y: 80%;
    }
}

.product-uvsafe .shopify-payment-button .shopify-payment-button__button--unbranded,
.product-uvsafe .shopify-payment-button .shopify-payment-button__button--unbranded:hover {
    background: #f4ad08 !important;
}

.product-uvsafe .background-media-text__text {
    background-color: #fcdc14;
    color: #000;
}

.product-uvsafe .index-section {
    background-color: #fcdc14;
}

.product-uvsafe .place-it {
    padding: 50px;
    background-color: #fff;
}

.product-uvsafe .place-it h2 {
    text-align: center;
}

.product-uvsafe .safety {
    padding: 60px;
    background-color: #8c8c8c;
    text-align: center;
    margin: 0 !important;
    color: #fff;
}

.product-uvsafe .safety__content {
    width: 60%;
    margin: 0 auto;
}

.product-uvsafe .collapsible-trigger__icon {
    color: #f4ad08 !important;
}

.product-uvsafe .support-info a {
    color: #f4ad08 !important;
}

.product-series .shopify-payment-button .shopify-payment-button__button--unbranded,
.product-series .shopify-payment-button .shopify-payment-button__button--unbranded:hover {
    background: #2C6975 !important;
}

.product-series .index-section {
    background-color: #56C596;
    color: #fff;
}

.product-series .test-report {
    background-color: #e4ecec;
    color: #000;
}

.product-series .test-report .feature-row__text {
    padding-bottom: 20px;

}

.product-series .test-report img {
    width: 60%;
    padding-top: 40px
}

.product-series .breathe {
    padding: 50px;
    background-color: #329D9C;
    text-align: center;
    margin: 0 !important;
}

.product-series .breathe__content {
    width: 60%;
    margin: 0 auto;
}

.product-series .lifestyle {
    background-color: #2c6c74;
}


.product-series .proper-fit {
    padding: 80px 0px;
    background-color: #329D9C;
    text-align: center;
}

.product-series .proper-fit h2 {
    text-align: center;
}

.product-series .instructions {
    background-color: #fff !important;
    padding: 60px 40px;
    color: #000;
}

.product-series .instruction-item {
    padding-bottom: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .product-series .instruction-item {
        font-size: 16px;
    }

    .product-series .test-report .image-wrap {
        display: none;
    }

    .test-report p:last-child,
    .test-report p:nth-last-child(2) {
        text-align: center;
    }
}

.product-series .instruction-item img {
    height: 100px !important;
    width: 100px !important;
    margin-right: 20px;
}


.product-series .product-section {
    background-color: #cccccc;

}

.hr--medium {
    margin: 20px 0px;
}

.product-series .institution-header {
    text-align: center;
    padding: 50px;
}

.product-series .institution-header .image-placeholder {
    display: none;
}

.product-series .institution-header .feature-row {
    display: block;
}

.product-series .institution-header .feature-row__item {
    padding: 0 !important;
}

.product-series .institution-images {
    background-color: #56C596 !important;
    padding-bottom: 20px;
}

.product-series .institution-images .image-row__image img {
    padding: 20px;
    max-height: 250px;
    max-width: 250px;
}

.template-product .index-section .feature-row__text {
    padding-top: 20px;
    padding-bottom: 20px;
}

.product-additional-info {
    font-size: 12px;
}

@media only screen and (max-width: 768px) {

    .template-product .background-media-text__subtext,
    .template-product .featured-row__subtext {
        text-align: left !important;
        padding-top: 10px;
    }

    .template-product .index-section .feature-row__text {
        padding-left: 20px;
        padding-right: 20px;
    }



    .product-uvsafe .safety__content {
        width: 100%;
    }


    .product-series .institution-images .image-row__image img {
        padding: 5px 5px 0 0;
    }

    .institution-header .featured-row__subtext {
        text-align: center !important;
    }
}

.site-footer form {
    display: none;
}

.site-footer .site-footer__linklist {
    text-transform: uppercase;
}

.site-footer .grid__item {
    padding-left: 0;
}

.site-footer [data-type="newsletter"] {
    text-align: center;
}

.site-footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.site-header .page-width,
.site-footer .page-width {

    padding: 0 20px !important;
}

@media only screen and (max-width: 768px) {
    [data-type="custom"] {
        display: none;
    }

    .site-footer {
        padding: 0;
    }

    .site-footer .footer__collapsible,
    .site-footer .footer_collapsible--disabled {
        padding: 0;
    }

    .site-footer .site-footer__linklist {
        text-transform: none;
        text-align: center;
    }

    .site-footer .site-footer__linklist li {
        margin-bottom: 0;
    }

    .site-footer .grid__item {
        padding-bottom: 0;
    }

    .site-footer__linklist a {
        padding: 2px 0;
    }

    .site-footer .grid__item:after {
        border: none !important;
    }
}

.site-nav__item {
    padding-right: 20px;

}

.site-nav--is-megamenu.site-nav__item {
    position: relative;
}

.megamenu {
    width: 600px;
    left: auto;
    right: -230px;
}

.megamenu .grid {
    display: flex;
}

.megamenu .grid__item {
    padding-left: 0;
}

.megamenu .grid__item .h5 {
    text-align: center;
    font-weight: 700;

}

.megamenu__product {
    text-align: center;
    overflow: hidden;
    height: 150px;
    width: 150px;
}

.megamenu__product-image {
    height: 150px;
    width: 150px;
    max-width: 150px;
    transition: transform .5s ease;
    filter: brightness(90%);
}

.megamenu__product-image:hover {
    filter: brightness(100%);
    transform: scale(1.02);
}

.mobile-nav__child-item {
    display: block;
}

.contact-form .grid__item:first-child {
    padding-left: 0;
}

.medium-up--one-fifth {
    width: 20%;
}

@media only screen and (min-width: 1020px) {
    .medium-up--one-fifth {
        width: 15%;
    }
}

@media only screen and (max-width: 768px) {
    .megamenu__product {
        padding: 10px 0;
        height: auto;
        width: auto;
    }
}

.main-content .newsletter-section {
    padding: 160px 0 100px 0;
}


@media only screen and (max-width: 768px) {
    .product__main-photos {
        margin-left: 0;
        margin-right: 0;
    }
}