<div class="index-section instructions">
    <div class="page-width">
        <div class="feature-row">
            <div class="feature-row__item feature-row__text feature-row__text--right">
                    <h2>How to Wash My Mask Series 1?</h2>
            </div>
            <div class="feature-row__item feature-row__text feature-row__text--right">
                <div class="instruction-item">
                    <img src="https://cdn.shopify.com/s/files/1/0506/1682/8100/files/instruction-1.png?v=1603809637" />
                    <span>Wash the series 1 in hot water and gently scrub it to wash away the toxins.</span>                   
                </div>
                <div class="instruction-item">
                    <img src="https://cdn.shopify.com/s/files/1/0506/1682/8100/files/instruction-3.png?v=1603809637" />
                    <span>Drying it under the hot sun helps recharge the Carbon in the filter and leaves your mask fully renewed to continue offering the best performance.</span> 
                </div>
                <div class="instruction-item">
                    <img src="https://cdn.shopify.com/s/files/1/0506/1682/8100/files/instruction-2.png?v=1603809637" />
                    <span>Your mask is good to go for 60 complete wash cycles.</span> 
                </div>
            </div>
        </div>
    </div>
</div>