<div class="travel">
    <h2 class="h1 hero__title">
        Your new travel buddy.
    </h2>
    <div class="hero__subtitle">
        <a target="_blank" href="https://www.instagram.com/explore/tags/ultimatesafetygear/?hl=en">#ultimatesafetygear</a>
    </div>
</div>