<!-- Note :
   - You can modify the font style and form style to suit your website. 
   - Code lines with comments Do not remove this code are required for the form to work properly, make sure that you do not remove these lines of code. 
   - The Mandatory check script can modified as to suit your business needs. 
   - It is important that you test the modified form before going live.-->
<div id='crmWebToEntityForm' class='zcwf_lblRight crmWebToEntityForm' style='background-color: white;color: black;max-width: 600px;'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
   <META HTTP-EQUIV ='content-type' CONTENT='text/html;charset=UTF-8'>
   <form action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads4733677000001651690 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory4733677000001651690()' accept-charset='UTF-8'>
 <input type='text' style='display:none;' name='xnQsjsdp' value='f189a438eaa1f39bf771183446f58fe92f03bd62bb39ad6181658a00e4c9facd'></input> 
 <input type='hidden' name='zc_gad' id='zc_gad' value=''></input> 
 <input type='text' style='display:none;' name='xmIwtLD' value='38d7a7834cf51d05aa8f7901f7538cfa713bc5a355d3a5733b8a3fca6de2d498'></input> 
 <input type='text'  style='display:none;' name='actionType' value='TGVhZHM='></input>
 <input type='text' style='display:none;' name='returnURL' value='https://myprotection.in/' > </input>
	 <!-- Do not remove this code. -->
<style>
html,body{
	margin: 0px;
}
#crmWebToEntityForm.zcwf_lblRight {
	width:100%;
	padding: 25px;
	margin: 0 auto;
	box-sizing: border-box;
}
#crmWebToEntityForm.zcwf_lblRight * {
	box-sizing: border-box;
}
#crmWebToEntityForm{text-align: left;}
#crmWebToEntityForm * {
	direction: ltr;
}
.zcwf_lblRight .zcwf_title {
	word-wrap: break-word;
	padding: 0px 6px 10px;
	font-weight: bold;
}
.zcwf_lblRight .zcwf_col_fld input[type=text], .zcwf_lblRight .zcwf_col_fld textarea {
	width: 60%;
	border: 1px solid #ccc;
	resize: vertical;
	border-radius: 2px;
	float: left;
}
.zcwf_lblRight .zcwf_col_lab {
	width: 30%;
	word-break: break-word;
	padding: 0px 6px 0px;
	margin-right: 10px;
	margin-top: 5px;
	float: left;
	min-height: 1px;
	text-align: right;
}
.zcwf_lblRight .zcwf_col_fld {
	float: left;
	width: 68%;
	padding: 0px 6px 0px;
	position: relative;
	margin-top: 5px;
}
.zcwf_lblRight .zcwf_privacy{padding: 6px;}
.zcwf_lblRight .wfrm_fld_dpNn{display: none;}
.dIB{display: inline-block;}
.zcwf_lblRight .zcwf_col_fld_slt {
	width: 60%;
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 4px;
	font-size: 12px;
	float: left;
	resize: vertical;
}
.zcwf_lblRight .zcwf_row:after, .zcwf_lblRight .zcwf_col_fld:after {
	content: '';
	display: table;
	clear: both;
}
.zcwf_lblRight .zcwf_col_help {
	float: left;
	margin-left: 7px;
	font-size: 12px;
	max-width: 35%;
	word-break: break-word;
}
.zcwf_lblRight .zcwf_help_icon {
	cursor: pointer;
	width: 16px;
	height: 16px;
	display: inline-block;
	background: #fff;
	border: 1px solid #ccc;
	color: #ccc;
	text-align: center;
	font-size: 11px;
	line-height: 16px;
	font-weight: bold;
	border-radius: 50%;
}
.zcwf_lblRight .zcwf_row {margin: 15px 0px;}
.zcwf_lblRight .formsubmit {
	margin-right: 5px;
	cursor: pointer;
	color: #333;
	font-size: 12px;
}
.zcwf_lblRight .zcwf_privacy_txt {
	color: rgb(0, 0, 0);
	font-size: 12px;
	font-family: Verdana;
	display: inline-block;
	vertical-align: top;
	color: #333;
	padding-top: 2px;
	margin-left: 6px;
}
.zcwf_lblRight .zcwf_button {
	font-size: 12px;
	color: #333;
	border: 1px solid #ccc;
	padding: 3px 9px;
	border-radius: 4px;
	cursor: pointer;
	max-width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.zcwf_lblRight .zcwf_tooltip_over{
	position: relative;
}
.zcwf_lblRight .zcwf_tooltip_ctn{
	position: absolute;
	background: #dedede;
	padding: 3px 6px;
	top: 3px;
	border-radius: 4px;word-break: break-all;
	min-width: 50px;
	max-width: 150px;
	color: #333;
}
.zcwf_lblRight .zcwf_ckbox{
	float: left;
}
.zcwf_lblRight .zcwf_file{
	width: 55%;
	box-sizing: border-box;
	float: left;
}
.clearB:after{
	content:'';
	display: block;
	clear: both;
}
@media all and (max-width: 600px) {
	.zcwf_lblRight .zcwf_col_lab, .zcwf_lblRight .zcwf_col_fld {
		width: auto;
		float: none !important;
	}
	.zcwf_lblRight .zcwf_col_help {width: 40%;}
	.zcwf_lblRight.zcwf_rtl .zcwf_col_lab {text-align: left;}
	.zcwf_lblRight.zcwf_rtl .zcwf_col_lab {text-align: right;}
}
</style>
<div class='zcwf_title' style='max-width: 600px;color: black;'>CORPORATE ENQUIRY</div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:12px; font-family: Verdana;'><label for='Last_Name'>Name<span style='color:red;'>*</span></label></div><div class='zcwf_col_fld'><input type='text' id='Last_Name' name='Last Name' maxlength='80'></input><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:12px; font-family: Verdana;'><label for='Phone'>Phone Number</label></div><div class='zcwf_col_fld'><input type='text' id='Phone' name='Phone' maxlength='30'></input><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:12px; font-family: Verdana;'><label for='Email'>Email</label></div><div class='zcwf_col_fld'><input type='text' ftype='email' id='Email' name='Email' maxlength='100'></input><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:12px; font-family: Verdana;'><label for='Company'>Company Name</label></div><div class='zcwf_col_fld'><input type='text' id='Company' name='Company' maxlength='100'></input><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:12px; font-family: Verdana;'><label for='LEADCF182'>Corporate Address</label></div><div class='zcwf_col_fld'><textarea id='LEADCF182' name='LEADCF182'></textarea><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:12px; font-family: Verdana;'><label for='Website'>Website</label></div><div class='zcwf_col_fld'><input type='text' id='Website' name='Website' maxlength='255'></input><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:12px; font-family: Verdana;'><label for='LEADCF107'>&#x27;MY&#x27; UV ONE</label></div><div class='zcwf_col_fld'><input type='checkbox' class='zcwf_ckbox' id='LEADCF107' name='LEADCF107' maxlength='3'></input><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:12px; font-family: Verdana;'><label for='LEADCF133'>&#x27;MY&#x27; SCARVES</label></div><div class='zcwf_col_fld'><input type='checkbox' class='zcwf_ckbox' id='LEADCF133' name='LEADCF133' maxlength='3'></input><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:12px; font-family: Verdana;'><label for='LEADCF132'>&#x27;MY&#x27; UV SAFE</label></div><div class='zcwf_col_fld'><input type='checkbox' class='zcwf_ckbox' id='LEADCF132' name='LEADCF132' maxlength='3'></input><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:12px; font-family: Verdana;'><label for='LEADCF134'>&#x27;MY&#x27; OVERALLS</label></div><div class='zcwf_col_fld'><input type='checkbox' class='zcwf_ckbox' id='LEADCF134' name='LEADCF134' maxlength='3'></input><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:12px; font-family: Verdana;'><label for='LEADCF136'>&#x27;MY&#x27; MASK SERIES 1</label></div><div class='zcwf_col_fld'><input type='checkbox' class='zcwf_ckbox' id='LEADCF136' name='LEADCF136' maxlength='3'></input><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:12px; font-family: Verdana;'><label for='LEADCF135'>&#x27;MY&#x27; MASK SERIES 3</label></div><div class='zcwf_col_fld'><input type='checkbox' class='zcwf_ckbox' id='LEADCF135' name='LEADCF135' maxlength='3'></input><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:12px; font-family: Verdana;'><label for='LEADCF110'>&#x27;MY&#x27; MASK SERIES 5</label></div><div class='zcwf_col_fld'><input type='checkbox' class='zcwf_ckbox' id='LEADCF110' name='LEADCF110' maxlength='3'></input><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:12px; font-family: Verdana;'><label for='LEADCF103'>&#x27;MY&#x27; GPS</label></div><div class='zcwf_col_fld'><input type='checkbox' class='zcwf_ckbox' id='LEADCF103' name='LEADCF103' maxlength='3'></input><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:12px; font-family: Verdana;'><label for='LEADCF101'>&#x27;MY&#x27; LOCK</label></div><div class='zcwf_col_fld'><input type='checkbox' class='zcwf_ckbox' id='LEADCF101' name='LEADCF101' maxlength='3'></input><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:12px; font-family: Verdana;'><label for='LEADCF108'>&#x27;MY&#x27; SAFE PLACE</label></div><div class='zcwf_col_fld'><input type='checkbox' class='zcwf_ckbox' id='LEADCF108' name='LEADCF108' maxlength='3'></input><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:12px; font-family: Verdana;'><label for='Description'>Message</label></div><div class='zcwf_col_fld'><textarea id='Description' name='Description'></textarea><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row wfrm_fld_dpNn'><div class='zcwf_col_lab' style='font-size:12px; font-family: Verdana;'><label for='LEADCF183'>Website Enquiry Type</label></div><div class='zcwf_col_fld'><select class='zcwf_col_fld_slt' id='LEADCF183' name='LEADCF183'  >
			<option value='-None-'>-None-</option>
		<option selected value='Corporate&#x20;Enquiry'>Corporate Enquiry</option>
			<option value='Partner&#x20;Enquiry'>Partner Enquiry</option>
			<option value='Affiliate&#x20;Enquiry'>Affiliate Enquiry</option>
			<option value='Institutional&#x20;Enquiry'>Institutional Enquiry</option>
		</select><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row wfrm_fld_dpNn'><div class='zcwf_col_lab' style='font-size:12px; font-family: Verdana;'><label for='Lead_Source'>Lead Source</label></div><div class='zcwf_col_fld'><select class='zcwf_col_fld_slt' id='Lead_Source' name='Lead Source'  >
			<option value='-None-'>-None-</option>
			<option value='Agent&#x20;Referral'>Agent Referral</option>
			<option value='Campaigns'>Campaigns</option>
			<option value='Cold&#x20;Call'>Cold Call</option>
			<option value='Customer&#x20;Care'>Customer Care</option>
			<option value='Customer&#x20;Referral'>Customer Referral</option>
			<option value='Employee&#x20;Referral'>Employee Referral</option>
			<option value='Google&#x20;Adwords'>Google Adwords</option>
		<option selected value='Website&#x20;Form'>Website Form</option>
		</select><div class='zcwf_col_help'></div></div></div><div class='zcwf_row'><div class='zcwf_privacy'><div class='dIB vat' align='left'><div class='displayPurpose  f13'><label class='newCustomchkbox-md dIB w100per'><input autocomplete='off' id='privacyTool4733677000001651690' type='checkbox' name='privacyTool' onclick='disableErr4733677000001651690()'></label></div></div><div class='dIB zcwf_privacy_txt' style='font-size: 12px;font-family:Verdana;color: black;'><span style='color: rgb(51, 51, 51); font-family: Helvetica, &quot;Helvetica Neue&quot;, Arial, &quot;Lucida Grande&quot;, sans-serif; font-size: 14px; letter-spacing: 0.45px; background-color: rgb(255, 255, 255);'>By submitting this form/checking this box, you acknowledge and agree that MYPPE Wellness Services Pvt. Ltd. may use the information you share to communicate with you through e-mails, text messages and calls, in order to provide our product or service related information and/or for promotional and marketing purposes. All information provided will be secured and processed as per our privacy policy</span></div> <div  id='privacyErr4733677000001651690' style='font-size:12px;color:red;padding-left: 5px;visibility:hidden;'>Please accept this</div></div></div><div class='zcwf_row'><div class='zcwf_col_lab'></div><div class='zcwf_col_fld'><input type='submit' id='formsubmit' class='formsubmit zcwf_button' value='Submit' title='Submit'><input type='reset' class='zcwf_button' name='reset' value='Reset' title='Reset'></div></div>
	<script>
		function privacyAlert4733677000001651690()
		{
			var privacyTool = document.getElementById('privacyTool4733677000001651690');
			var privacyErr = document.getElementById('privacyErr4733677000001651690');
			if(privacyTool !=undefined && !privacyTool.checked )
			{
				privacyErr.style.visibility='visible';
				privacyTool.focus();
				return false;
			}
			return true;
		}
		function disableErr4733677000001651690()
		{
			var privacyTool = document.getElementById('privacyTool4733677000001651690');
			var privacyErr = document.getElementById('privacyErr4733677000001651690');
			if(privacyTool !=undefined && privacyTool.checked && privacyErr !=undefined )
			{
				privacyErr.style.visibility='hidden';
			}
		}
	function validateEmail4733677000001651690()
	{
		var form = document.forms['WebToLeads4733677000001651690'];
		var emailFld = form.querySelectorAll('[ftype=email]');
		var i;
		for (i = 0; i < emailFld.length; i++)
		{
			var emailVal = emailFld[i].value;
			if((emailVal.replace(/^\s+|\s+$/g, '')).length!=0 )
			{
				var atpos=emailVal.indexOf('@');
				var dotpos=emailVal.lastIndexOf('.');
				if (atpos<1 || dotpos<atpos+2 || dotpos+2>=emailVal.length)
				{
					alert('Please enter a valid email address. ');
					emailFld[i].focus();
					return false;
				}
			}
		}
		return true;
	}

 	  function checkMandatory4733677000001651690() {
		var mndFileds = new Array('Last Name');
		var fldLangVal = new Array('Name');
		for(i=0;i<mndFileds.length;i++) {
		  var fieldObj=document.forms['WebToLeads4733677000001651690'][mndFileds[i]];
		  if(fieldObj) {
			if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0) {
			 if(fieldObj.type =='file')
				{ 
				 alert('Please select a file to upload.'); 
				 fieldObj.focus(); 
				 return false;
				} 
			alert(fldLangVal[i] +' cannot be empty.'); 
   	   	  	  fieldObj.focus();
   	   	  	  return false;
			}  else if(fieldObj.nodeName=='SELECT') {
  	   	   	 if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
				alert(fldLangVal[i] +' cannot be none.'); 
				fieldObj.focus();
				return false;
			   }
			} else if(fieldObj.type =='checkbox'){
 	 	 	 if(fieldObj.checked == false){
				alert('Please accept  '+fldLangVal[i]);
				fieldObj.focus();
				return false;
			   } 
			 } 
			 try {
			     if(fieldObj.name == 'Last Name') {
				name = fieldObj.value;
 	 	 	    }
			} catch (e) {}
		    }
		}
		if(!validateEmail4733677000001651690()){return false;}
		
		if(!privacyAlert4733677000001651690()){return false;}
		document.querySelector('.crmWebToEntityForm .formsubmit').setAttribute('disabled', true);
	}

function tooltipShow4733677000001651690(el){
	var tooltip = el.nextElementSibling;
	var tooltipDisplay = tooltip.style.display;
	if(tooltipDisplay == 'none'){
		var allTooltip = document.getElementsByClassName('zcwf_tooltip_over');
		for(i=0; i<allTooltip.length; i++){
			allTooltip[i].style.display='none';
		}
		tooltip.style.display = 'block';
	}else{
		tooltip.style.display='none';
	}
}
</script>
	<!-- Do not remove this --- Analytics Tracking code starts --><script id='wf_anal' src='https://crm.zohopublic.com/crm/WebFormAnalyticsServeServlet?rid=38d7a7834cf51d05aa8f7901f7538cfa713bc5a355d3a5733b8a3fca6de2d498gidf189a438eaa1f39bf771183446f58fe92f03bd62bb39ad6181658a00e4c9facdgid885e3c1045bd9bdcc91bdf30f82b5696gid14f4ec16431e0686150daa43f3210513'></script><!-- Do not remove this --- Analytics Tracking code ends. --></form>
</div>