{%- style -%}
  .collection-header__content {
    background-image: url({{ collection.metafields.design.bg-image }});
  }

  {% if collection.metafields.design.bg-image-mobile != blank %} 
  @media only screen and (max-width: 576px) {
    .collection-header__content {
      background-image: url({{ collection.metafields.design.bg-image-mobile }});
    }
  }
  {% endif %}  
{%- endstyle -%}
<div class="collection-header">
  <div class="collection-header__content">
      {%- if collection.description != blank -%}
        <div class="collection-header__description">
          <span>{{ collection.description }}</span>
        </div>
      {%- endif -%}
    </div>
</div>

<div id="CollectionAjaxResult" class="collection-content">
  <div id="CollectionAjaxContent">
    <div class="page-width">
      <div class="grid">
        <div class="grid__item medium-up--one-fifth grid__item--sidebar">
          {% section 'collection-sidebar' %}
        </div>
        <div class="grid__item medium-up--four-fifths grid__item--content">
          {% section 'collection-promotions' %}
          <div class="collection-grid__wrapper">
            {% section 'collection-template' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
