{% section 'page-template' %}
<div class="row">
<div class="col-md-6">
<h2>Collections</h2>
<ul>
{% for c in collections %}
<li>
<a href="{{ c.url }}">{{ c.title }}</a>
</li>
{% endfor %}
</ul>
</div>
<div class="col-md-6">
<h2>UV ONE- Portable UV Sterilizer</h2>
<ul>
{% for product in collections.all.products %}
<li>
<a href="{{ https://myprotection.in/products/my-uv-one-portable-sterilizer}}">{{ UV ONE- Portable UV Sterilizer }}</a>
</li>
{% endfor %}
</ul>
</div>
</div>    