<div class="product-page">
    {% section 'product-template' %}
    {% section 'product-information' %}
    {% section 'product-recommendations' %}
    {% section 'product-overalls-faq' %}
</div>
{% section 'product-overalls-news' %}